---
title: Komunita
description: Dobrovolníci z české a slovenské komunity Ubuntu se starají o jeho propagaci i podporu uživatelů v Česku a na Slovensku.
permalink: /komunita/
redirect_from:
  - /komunita/zapojtese
  - /komunita/zapojtese/netechnictiuzivatele
  - /komunita/zapojtese/podpora
  - /podpora
  - /podpora/komunita
  - /podpora/komunitni
  - /kontakty
layout: default
---
<section class="p-strip--image is-light" style="background-image: url('{{ 'assets/img/mountains-hero.jpg' | relative_url }}'); background-size: cover; background-position: top 25% center;">
  <div class="row">
    <div class="col-6 p-card--overlay">
      <h1>Komunita Ubuntu</h1>
      <p class="p-card__content">
        Komunitu Ubuntu tvoří jednotlivci i týmy pracující na různých součástech distribuce, poskytují rady a technickou podporu a pomáhají prosazovat Ubuntu v širší veřejnosti.
      </p>
    </div>
  </div>
</section>

<section class="p-strip--accent is-shallow" style="background-color: #e95420;">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-12">
      <h3 style="margin: 0px;">
        <strong>Hledáme dobrovolníky pro práci na <a href="https://forum.ubuntu.cz/index.php?topic=85577.0" target="_blank" style="color: #fff; text-decoration: underline;">českém překladu</a>. Máte Ubuntu rádi? Pomozte mu.</strong>
      </h3>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2>Pomoc</h2>
      <h3>Nápověda</h3>
      <p>
        Pokud potřebujete pomoci s Ubuntu, jste na správném místě. Nejlepší návody k Ubuntu jsou v <a href="https://help.ubuntu.com/stable/ubuntu-help/" target="_blank">oficiální dokumentaci Ubuntu</a>, na <a href="https://help.ubuntu.com/community" target="_blank">globální komunitní wiki</a> a nebo na <a href="https://wiki.ubuntu.cz/" >naší wiki</a>. K oficiální dokumentaci se dostanete také přímo ze systému z nabídky <strong>Systém → Nápověda a podpora</strong> nebo z nabídky <strong>Nápověda</strong> každého programu.
      </p>
      <h3>Komunitní podpora</h3>
      <p>
        Pokud vám nápověda ani dokumentace nepomohly, nebo řešíte nějaký opravdu zapeklitý problém, nabízíme vám zcela zdarma svou <a href="https://forum.ubuntu.cz/" >pomoc na našem fóru</a>. Stačí napsat. Pokud dáváte přednost komunikaci v angličtině, můžete se s problémem obrátit na <a href="https://ubuntuforums.org/" target="_blank">Ubuntu Forums</a> nebo <a href="https://answers.launchpad.net/ubuntu" target="_blank">Launchpad</a>.
      </p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-6">
      <h3>Ubuntu v Česku a na Slovensku</h3>
      <p>
        Spojená česká a slovenská komunita je jednou z místních komunit, tzv. <a href="https://wiki.ubuntu.cz/loco" >LoCo týmů</a> (z anglického <em>Local Community</em>). Sdružujeme se okolo stránek Ubuntu.cz a především <a href="https://forum.ubuntu.cz/" >našeho fóra</a>, jejichž provoz od roku 2022 zaštiťuje <a href="https://www.openalt.org/" target="_blank">spolek OpenAlt</a>.
      </p>
      <p>
        Zatímco mezinárodní komunita Ubuntu má relativně pevně danou strukturu a hierarchii vedení, v naší lokální komunitě je situace poněkud volnější. Role jsou sice rozděleny na <a href="https://forum.ubuntu.cz/" >fóru</a> (administrátoři a moderátoři), <a href="https://wiki.ubuntu.cz/" >wiki</a> (správci) i v <a href="https://wiki.ubuntu.cz/Lokalizace" >překladatelském týmu</a>, celkově se naše komunita řídí principy <a href="https://cs.wikipedia.org/wiki/Meritokracie" target="_blank">meritokracie</a>. To znamená, že rozhodují aktivní členové, kteří jsou ostatními respektováni pro svou práci a „zásluhy“. Všichni se ale samozřejmě řídíme <a href="https://ubuntu.com/community/code-of-conduct" target="_blank">pravidly komunity Ubuntu</a>.
      </p>
    </div>
    <div class="col-6 u-align--center">
      <img src="{{ 'assets/img/ceskoslovensko.png' | relative_url }}" alt="Československo">
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-12">
      <h2>Zapojte se</h2>
      <p>
        Komunita není jen o sdružování a společných zájmech, ale také o společné práci. Ve světě Ubuntu, stejně jako u ostatních podobných projektů, je software, překlady, dokumentace, propagace a mnoho dalšího výsledkem práce tisíců lidí ze všech koutů světa.
      </p>
      <p>
        Naše místní komunita je malým kolečkem v soukolí mezinárodní komunity Ubuntu, ale snažíme se co nejlépe přispívat ke společnému cíli, kterým je kvalitní svobodný operační systém dostupný pro všechny. Pomoci můžete i vy a není potřeba mít žádné speciální znalosti nebo zkušenosti. I pár hodin může být velkým příspěvkem.
      </p>
      <h5>Máme relativně velký záběr:</h5>
      <ul class="p-list">
        <li class="p-list__item is-ticked">pokud Ubuntu sami používáte nebo znáte, můžete se aktivně podílet na <a href="https://forum.ubuntu.cz/" >podpoře uživatelů na fóru</a>,</li>
        <li class="p-list__item is-ticked"><a href="https://wiki.ubuntu.cz/Lokalizace" >lokalizace</a> (překlad) Ubuntu do češtiny (nebo slovenštiny),</li>
        <li class="p-list__item is-ticked">při tvorbě a aktualizaci <a href="https://wiki.ubuntu.cz/" >komunitní dokumentace</a> můžete čerpat z vlastních zkušeností i cizojazyčných návodů,</li>
        <li class="p-list__item is-ticked">chcete-li se naučit s webem, zkuste <a href="https://gitlab.com/OpenAlt/UbuntuCZ/ubuntu-cz" target="_blank">vylepšit náš web</a> po obsahové, grafické či technické stránce,</li>
        <li class="p-list__item is-ticked">pomozte nám Ubuntu propagovat na sociálních sítích (zde je náš <a href="https://floss.social/@UbuntuCZ" target="_blank">Mastodon</a> a <a href="https://twitter.com/UbuntuCZSK" target="_blank">Twitter</a>),</li>
        <li class="p-list__item is-ticked">uvítáme i vaše vlastní nápady.</li>
      </ul>
      <p>
        Na konkrétní podobě vaší spolupráce se vždy dohodneme společně. <strong>Neváhejte a zapojte se také, i velmi málo může pomoci.</strong> Napište nám na <a href="mailto:info@ubuntu.cz" class="text">info@ubuntu.cz</a>.
      </p>
    </div>
  </div>
</section>
