###
# force HTTPS
###
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

###
# HSTS
###
<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=31536000; preload" "expr=%{HTTPS} == 'on'"
</IfModule>

###
# redirect to www
###
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{HTTPS} on
	RewriteCond %{HTTP_HOST} !^www\.
	RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
