{% for p in site.pages %}
  {% if include.item.external or p.permalink == include.item.url %}
    <li class="{% if p.url == page.url %}current{% endif %} {% if include.item.sub %}top-level{% endif %}">
      <a href="{% if include.item.external %}{{ include.item.url }}{% else %}{{ site.baseurl }}{{ p.url }}{% endif %}">
        {% if include.item.title %}{{ include.item.title }}{% else %}{{ p.title }}{% endif %}
      </a>
      {% if include.item.sub %}
        {% include footermenu.html items=include.item.sub parent=p hide_without_sub=false %}
      {% endif %}
    </li>
    {% break %}
  {% endif %}
{% endfor %}
