<meta charset="utf-8">
<base href="{{ site.baseurl }}">

{% seo %}
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
<meta property="og:type" content="website">
<link rel="icon" href="{{ site.logo | relative_url }}" type="image/svg+xml">
<link rel="icon" href="{{ 'design/icon.ico' | relative_url }}" type="image/x-icon">
<meta property="og:image" content="{{ site.logo | relative_url }}">

<link rel="stylesheet" href="{{ 'design/style.css' | relative_url }}">
<link rel="stylesheet" href="{{ 'design/fonts/fonts.css' | relative_url }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#E95420" />
