{% for p in site.pages %}
  {% if include.item.external or p.url == include.item.url %}
    <div class="col-2">
      <ul class="u-no-margin u-no-padding">
        <li class="{% if p.url == page.url %}nav__item--current{% endif %}">
          {% unless include.item.keepFooterCategoryHeading %}
          <a href="{% if include.item.external %}{{ include.item.url }}{% else %}{{ site.baseurl }}{{ p.url }}{% endif %}">
          {% endunless %}
            <strong>
              {% if include.item.footer %}
                {{ include.item.footer }}
              {% elsif include.item.title %}
                {{ include.item.title }}
              {% else %}
                {{ p.title }}
              {% endif %}
            </strong>
          {% unless include.item.keepFooterCategoryHeading %}
          </a>
          {% endunless %}
          {% if include.item.sub.size > 0 %}
            {% assign subnavIndex = 0 %}
            <ul class="u-no-margin u-no-padding">
              {% for item in include.item.sub %}
                {% if subnavIndex > 0 or include.item.keepFooterCategoryHeading %}
                  {% include navigation_footer_item_subnav.html item=item %}
                {% endif %}
                {% assign subnavIndex = subnavIndex | plus: 1 %}
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      </ul>
    </div>
    {% break %}
  {% endif %}
{% endfor %}
