{% for p in site.pages %}
  {% if include.item.external or p.url == include.item.url %}
    {% assign id = 'navigation_' | append: p.url | remove: '/' %}
    {% assign subnav_id = 'navigation_' | append: p.url | remove: '/' | append: '-menu' %}
    <li class="{% if include.item.sub %}p-navigation__item--dropdown-toggle{% else %}p-navigation__item{% endif %} {% if page.url contains include.item.url %}p-navigation__item--current{% endif %}" role="menuitem" id="{{ id }}">
      <a aria-controls="{{ subnav_id }}" class="p-navigation__link" href="{% if include.item.external %}{{ include.item.url }}{% else %}{{ p.url | relative_url }}{% endif %}">
        {% if include.item.title %}{{ include.item.title }}{% else %}{{ p.title }}{% endif %}
      </a>
      {% if include.item.sub %}
        {% include navigation_item_subnav.html items=include.item.sub id=subnav_id %}
      {% endif %}
    </li>
    {% break %}
  {% endif %}
{% endfor %}
