<section class="{{ include.classes }}">
  <div class="row u-equal-height">
    <h4>{{ include.rss.title | strip_html | escape }}</h4>
    {% for item in include.rss.items limit:4 %}
      <div class="col-3 u-image-position">
        <h5><a href="{{ item.url }}" title="{{ item.title | strip_html | escape | truncate: 80 }}" class="p-link--external" target="_blank">{{ item.title | strip_html | escape | truncate: 80 }}</a></h5>
        <p>
          <time datetime="{{ item.published }}" class="u-image-position--bottom">{{ item.published | date: "%-d. %-m. %Y" }}</time>
        </p>
      </div>
    {% endfor %}
  </div>
</section>
