<section class="{{ include.classes }}">
  <div class="row u-equal-height">
    <h4>{{ include.rss.title | strip_html | escape }}</h4>
    {% for item in include.rss.items limit:4 %}
      <div class="col-3 u-image-position">
        {% if item.translatedTitle %}
          <h5><a href="{{ item.url }}" title="{{ item.translatedTitle | escape | truncate: 140 }}" class="translated" target="_blank" data-original-title="{{ item.title | escape | truncate: 140 }}">{{ item.translatedTitle | escape | truncate: 80 }}</a></h5>
        {% else %}
          <h5><a href="{{ item.url }}" title="{{ item.title | escape | truncate: 140 }}" target="_blank">{{ item.title | escape | truncate: 80 }}</a></h5>
        {% endif %}
        <p>
          <time datetime="{{ item.published }}" class="u-image-position--bottom">{{ item.published | date: "%-d. %-m. %Y" }}</time>
        </p>
      </div>
    {% endfor %}
  </div>
</section>
