{% assign width = 969 %}
{% assign height = 430 %}

{% assign chartWidth = width | times: 0.4 %}
{% assign yearSpan = 14 %}
{% assign yearWidth = chartWidth | divided_by: yearSpan %}
{% assign lineHeight = 40 %}

<svg class="chart" viewBox="0 0 {{ width }} {{ height }}" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
	<style>
		text {
			font-family:Ubuntu !important
		}
		.chart__bar--orange {
			fill: #e95420;
			stroke: #e95420;
			stroke-width: 1px;
		}
		.chart__bar--orange-light {
			fill: #fbddd2;
			stroke: #e95420;
			stroke-width: 1px;
		}
		.chart__bar--grey {
			fill: #aea79f;
			stroke: #aea79f;
			stroke-width: 1px;
		}
		.chart__bar--aubergine {
			fill: #772953;
			stroke: #772953;
			stroke-width: 1px;
		}
		.chart__bar--green {
			fill: green;
			stroke: green;
			stroke-width: 1px;
		}
		.chart__bar--version-future {
			opacity: 0.5;
		}
		.chart__label--bold {
			font-weight: bold;
		}
		.x.axis line {
			shape-rendering: crispEdges;
			stroke: #d6d3cf;
			stroke-dasharray: 3 2;
		}
		.tick text {
			font-size: {{ lineHeight | minus: 16 }}px;
		}
		.chart-key text {
			font-size: 14px;
		}
		.x.axis text {
			font-size: 18px;
			text-anchor: start !important;
		}
		.chart-key {
			display: block;
		}
		.chart-key__row {
			display: block;
		}
	</style>

	<g class="gantt-chart" width="{{ width }}" height="{{ height }}">
		<g class="releases" text-anchor="start">
			{% assign rightOffset = width | minus: chartWidth }
			{% assign counter = 1 %}
			{% assign timelineExpandedToTheRight = false %}

			{% assign now = 'now' | date: "%s" %}
			{% for release in site.data.ubuntu_releases.all reversed %}
				{% assign released = release.released | date: "%s" %}
				{% if release.active_and_supported %}
					{% assign state = "current" %}
				{% elsif released > now or released == blank %}
					{% assign state = "future" %}
				{% else %}
					{% assign state = "past" %}
				{% endif %}

				{% if counter > 5 %}
					{% if release.lts != true %}
						{% continue %}
					{% endif %}
					{% if release.lts == true and state == "past" %}
						{% break %}
					{% endif %}
				{% endif %}

				{% if counter > 9 %}
					{% break %}
				{% endif %}

				{% assign diffX = yearWidth | times: 0.5 | times: forloop.index %}
				{% assign rightOffset = yearWidth | times: 4 %}
				{% assign leftPos = width | minus: diffX | minus: chartWidth | plus: rightOffset %}

				{% if release.lts == true %}
					{% assign barWidth = yearWidth | times: 5 %}
					<rect class="chart__bar--orange chart__bar--version-{{ state }}" x="{{ leftPos }}" y="{{ counter | times: lineHeight }}" height="{{ lineHeight | minus: 6 }}" width="{{ barWidth }}"></rect>
					<rect class="chart__bar--aubergine chart__bar--version-{{ state }}" x="{{ leftPos | plus: barWidth }}" y="{{ counter | times: lineHeight }}" height="{{ lineHeight | minus: 6 }}" width="{{ barWidth }}"></rect>
				{% else %}
					{% assign barWidth = yearWidth | times: 0.75 %}
					<rect class="chart__bar--grey chart__bar--version-{{ state }}" x="{{ leftPos }}" y="{{ counter | times: lineHeight }}" height="{{ lineHeight | minus: 6 }}" width="{{ barWidth }}"></rect>
				{% endif %}

				<g class="y axis" fill="none" text-anchor="start" transform="translate(0, {{ counter | times: lineHeight }})">
					<g class="tick">
						<line stroke="currentColor"></line>
						{% if release.lts == true %}
							<text fill="currentColor" dy="1em" class="chart__label--bold">Ubuntu {{ release.version_short }} LTS ({{ release.name }})</text>
						{% else %}
							<text fill="currentColor" dy="1em">Ubuntu {{ release.version_short }} ({{ release.name }})</text>
						{% endif %}
					</g>
				</g>

				{% if release.lts == true %}
					{% assign releaseYear = release.released | date: "%Y" %}
					{% assign releaseWidthSpan = release.released | date: "%m" | times: 0.8333 %}
					{% assign yearLeftPos = leftPos | minus: 10 %}

					<g class="x axis" fill="none" text-anchor="middle" transform="translate(0, {{ height | minus: 20 }})">
						<g class="tick" transform="translate({{ yearLeftPos | minus: releaseWidthSpan }}, 0)">
							<line stroke="currentColor"></line>
							<text fill="currentColor" dy="0.71em">{{ releaseYear }}</text>
						</g>
					</g>

					{% if timelineExpandedToTheRight == false %}
						{% for i in (1..4) %}
							{% assign offset = 2 | times: i %}
							{% assign nextYearSpacing = yearWidth | times: offset %}
							<g class="x axis" fill="none" text-anchor="middle" transform="translate(0, {{ height | minus: 20 }})">
								<g class="tick" transform="translate({{ yearLeftPos | minus: releaseWidthSpan | plus: nextYearSpacing }}, 0)">
									<line stroke="currentColor"></line>
									<text fill="currentColor" dy="0.71em">{{ releaseYear | plus: offset }}</text>
								</g>
							</g>
						{% endfor %}
						{% assign timelineExpandedToTheRight = true %}
					{% endif %}
				{% endif %}

				{% assign counter = counter | plus: 1 %}
				{% assign leftPos = leftPos | minus: yearWidth | times: 0.5 %}
			{% endfor %}
		</g>
	</g>
</svg>
