body {
	margin: 0px;
	font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: antialiased;
}

header {
	position: relative;
	margin: 0px;
	padding: 0px;
	height: 48px;
	color: #fff;
	background: #333;
	font-weight: 300;
	box-shadow: 0px 0px 2px #333;
	z-index: 2;
}

header.no-shadow {
	box-shadow: none;
}

main {
	font-size: 16px;
	color: #444;
}

main > .padded {
	padding-left: 20px;
	padding-right: 20px;
}

main h1 {
	margin: 0px;
	padding: 20px 0px;
	font-size: 3rem;
	font-style: normal;
	font-weight: 300;
	line-height: 3.5rem;
}

main h2 {
	margin: 0px;
	padding: 16px 0px;
	font-size: 1.7rem;
	font-style: normal;
	font-weight: 300;
	line-height: 2.5rem;
}

main h3 {
	margin: 0px;
	padding: 12px 0px;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 300;
	line-height: 1.75rem;
}

main p {
	line-height: 1.5;
}

section {
	position: relative;
	margin: 0px auto;
	padding: 0px;
	background: #fff;
	line-height: 1.5em;
}

section.center {
	text-align: center;
}

section.vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section.hero {
	position: relative;
	color: #fff;
	background: transparent;
}

nav.breadcrumbs + main > section.hero:not(.enable-offset):first-of-type {
	margin-top: -46px;
}

nav.breadcrumbs + main > section.hero:not(.enable-offset):first-of-type .wrapper {
	margin-top: 46px;
}

section.hero .img-container {
    position: relative;
    background: transparent;
    height: 500px;
    overflow: hidden;
}

section.hero .img-container .bg-container {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px auto;
	z-index: -1;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

section.hero .img-container .bg-container.top {
	background-position: center top;
}

section.hero .img-container .bg-container.bottom {
	background-position: center bottom;
}

section.hero .img-container .fixed-container {
	position: fixed;
	background-size: 100% auto;
	background-color: #678;
	transition: top 0.25s ease-out;
}

section.hero .img-container .natural {
	background-position: center center;
	background-size: auto;
}

section.hero .img-container .natural.right {
	background-position: right center;
	background-size: auto;
}

section.hero .img-container .natural.left {
	background-position: left center;
	background-size: auto;
}

section.hero .img-container .natural.top {
	background-position: center top;
	background-size: auto;
}

section.hero .img-container img {
	display: block;
	margin: 0px auto;
	width: 100%;
}

section.hero .wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

section.hero .intro {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto 0px;
	padding: 30px;
	width: 500px;
	height: 220px;
	color: #333;
	background: rgba(255, 255, 255, 0.85);
}

section.hero .intro.center {
	text-align: center;
}

section.hero .intro.right {
	left: auto;
}

section.hero .intro.smaller {
	height: 160px;
}

section.hero .intro.higher {
	height: 270px;
}

section.hero .intro.transparent {
	background: none;
}

section.hero .intro.shadow {
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5);
}

section.hero .intro.text-white {
	color: #fff;
}

section.hero .intro.text-white a.text {
	color: inherit;
	text-decoration: underline;
}

@media screen and (max-width: 960px) {
	section.hero .wrapper {
		position: relative;
	}
	
	section.hero .img-container {
		height: auto;
	}
	
	section.hero .img-container .fixed-container {
		display: none;
	}
	
	section.hero .img-container .bg-container:not(.mobile-bg) {
		background-image: none !important;
	}
	
	section.hero .intro, section.hero .intro.smaller, section.hero .intro.higher {
		position: relative;
		padding: 30px;
		width: auto;
		height: auto;
	}
	
	section.hero .intro.text-white {
		color: #333;
	}
}

section.hero .intro h1 {
	padding: 0px;
	line-height: 1.15em;
}

section.padded {
	padding: 20px 0px;
}

section.higher-padded {
	padding: 100px 0px;
}

section.bordered {
	border-bottom: 1px solid #cdcdcd;
}

section.grey {
	background: #efefef;
}

section.black {
	color: #fafafa;
	background: #000;
}

section.aubergine {
	color: #fafafa;
	background: #2c001e;
}

section.orange {
	color: #fff;
	background: #e95420;
}

section.rose {
	color: #fff;
	background: #fc4949;
}

section.beige {
	background: #f7f7f7;
}

section.green {
	color: #fff;
	background: #0e8420;
}

section.transparent {
	color: #fff;
	background: none;
}

section.semi-transparent {
	background: rgba(255, 255, 255, 0.95);
}

section.semi-transparent-dark {
	color: #fff;
	background: rgba(0, 0, 0, 0.75);
}

section.blue {
	color: #fff;
	background: linear-gradient(to right, #235, #247, #358, #369, #3d6d9f, #369, #358, #247, #235);
}

.wrapper {
	margin: 0px auto;
	max-width: 1280px;
}

.wrapper .padded {
	padding-left: 20px;
	padding-right: 20px;
}

footer {
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: #666;
	font-size: 14px;
	font-weight: 300;
	background: #efefef;
	box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.3) inset;
	scroll-snap-coordinate: 0% 0%;
}

footer .section {
	margin: 0px;
	padding: 20px;
}

footer .section.white {
	background: #fff;
}

footer .section.white:not(:last-of-type) {
	border-bottom: 1px solid #d8d8d8;
}

.border-top {
	border-top: 1px dotted #666;
}

.border-bottom {
	border-bottom: 1px dotted #666;
}

header .wrapper {
	display: flex;
	min-height: 48px;
}

header a.title {
	position: relative;
	display: inline-block;
	margin: 0px;
	width: 120px;
	height: 48px;
	background: #e95420 url("logo.svg") no-repeat center center;
	background-size: 80px auto;
	vertical-align: top;
	font-size: 0px;
}

header.no-shadow a.title::after {
	content: "";
	position: absolute;
	right: 0px;
	bottom: -1px;
	left: 0px;
	margin: 0px auto;
	width: 80px;
	height: 1px;
	background: rgba(255, 255, 255, 0.25);
}

header .menuHide {
	position: relative;
	display: none;
	margin: 0px 5px 0px 0px;
	padding: 0 10px;
	float: right;
	width: 44px;
	height: 48px;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

header .menuHide span {
	position: absolute;
	display: block;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	height: 6px;
	width: 60%;
	background: #fff;
	opacity: 1;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}

header .menuHide span:nth-child(1) {
	top: 24%;
}

header .menuHide span:nth-child(2), header .menuHide span:nth-child(3) {
	top: 45%;
}

header .menuHide span:nth-child(4) {
	top: 67%;
}

header.show .menuHide span:nth-child(1) {
	top: 50%;
	width: 0%;
}

header.show .menuHide span:nth-child(2) {
	transform: rotate(45deg);
}

header.show .menuHide span:nth-child(3) {
	transform: rotate(-45deg);
}

header.show .menuHide span:nth-child(4) {
	top: 50%;
	width: 0%;
}

header nav {
	display: inline-block;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5em;
}

header nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

header nav > ul > li {
	display: inline-block;
}

header nav > ul > li > a {
	position: relative;
	display: block;
	margin: 0px;
	padding: 14px 15px;
	line-height: 20px;
	color: inherit;
	text-decoration: inherit;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	transition: background 0.25s ease-out;
}

header nav > ul > li.top-level > a {
	padding: 14px 30px 14px 15px;
}

header nav > ul > li.current > a,
header nav > ul > li:hover > a {
	background: #1b1b1b;
}

header nav > ul > li.open > a {
	color: #000;
	background: #fff;
}

header nav > ul > li.top-level > a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='4' width='10'%3E%3Cpath d='M3.637 3.138A26.335 26.335 0 0 1 0 0h1.541a21.242 21.242 0 0 0 1.364 1.187 16.899 16.899 0 0 0 .752.563c.397.282.935.626 1.315.848h.054c.38-.222.918-.566 1.315-.848.398-.28.788-.583 1.169-.904.327-.275.643-.557.947-.846h1.541a26.335 26.335 0 0 1-3.637 3.138c-.519.365-.973.652-1.362.862-.39-.21-.844-.497-1.362-.862z' fill='%23cdcdcd' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: .75rem;
    background-position: top 52% right 50%;
    pointer-events: none;
    transition: transform 0.1s;
    width: 32px;
}

header nav > ul > li.top-level.open > a::after,
header nav > ul > li.top-level.current.open > a::after {
	transform: rotate(-180deg);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='4' width='10'%3E%3Cpath d='M3.637 3.138A26.335 26.335 0 0 1 0 0h1.541a21.242 21.242 0 0 0 1.364 1.187 16.899 16.899 0 0 0 .752.563c.397.282.935.626 1.315.848h.054c.38-.222.918-.566 1.315-.848.398-.28.788-.583 1.169-.904.327-.275.643-.557.947-.846h1.541a26.335 26.335 0 0 1-3.637 3.138c-.519.365-.973.652-1.362.862-.39-.21-.844-.497-1.362-.862z' fill='%23111' fill-rule='evenodd'/%3E%3C/svg%3E");
}

header nav ul > li .submenu {
	position: absolute;
	display: block;
	top: 100%;
	right: 0px;
	left: 0px;
	max-height: 0px;
	color: transparent;
	background: #fff;
	line-height: 1em;
	overflow: hidden;
	transition: all 0.33s ease-in-out;
	z-index: -1;
}

header nav ul > li .submenu > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	margin: 0px auto;
	padding: 20px 0px;
	max-width: 1280px;
}
/*
header nav ul > li > ul {
	position: absolute;
	display: none;
	margin-top: 4px;
	padding-bottom: 10px;
	min-width: 230px;
	color: #444;
	background: #fafafa;
	font-size: 14px;
	line-height: 1em;
	box-shadow: 0px 0px 1px 0px #333;
}

header nav ul > li > ul:before {
	position: relative;
	content: "";
	display: block;
	height: 18px;
	margin-top: -8px;
	background: transparent url("arrow-up.png") no-repeat 20px top;
}
*/
header nav > ul > li.open .submenu {
	display: block;
	padding: 20px;
	max-height: 100vh;
	color: #444;
	box-shadow: 0px 1000vh 0px 1000vh rgba(0, 0, 0, 0.25);
}

header nav > ul > li .submenu > ul > li {
	margin: 0px 0px 20px 0px;
	width: 25%;
	vertical-align: top;
	text-align: left;
}

header nav > ul > li .submenu > ul > li > a {
	display: block;
	margin: 0px;
	padding: 8px 15px;
	color: inherit;
	text-decoration: inherit;
}

header nav > ul > li .submenu > ul > li.top-level > a {
	font-weight: normal;
}

header nav > ul > li .submenu > ul > li.top-level > a::after {
	content: " \203A";
}

header nav > ul > li .submenu > ul > li.top-level.current > a {
	color: #007aa6;
}

header nav > ul > li .submenu > ul > li > a:hover, header nav > ul > li .submenu > ul > li.current > a {
	color: #007aa6;
}

header nav > ul > li .submenu > ul > li > a:hover {
	text-decoration: underline;
}

header nav > ul > li .submenu > ul > li > span {
	display: block;
	margin: 0px;
	padding: 10px 15px;
	color: inherit;
	font-size: 14px;
	text-decoration: none;
}

header nav > ul > li .submenu > ul > li:hover > span {
	text-decoration: none;
}

@media screen and (max-width: 960px) {
	header {
		overflow: visible;
	}
	
	header.show {
		height: auto;
	}
	
	header .wrapper {
		justify-content: space-between;
	}
	
	header a.title {
		display: block;
	}
	
	header .menuHide {
		display: block;
	}
	
	header nav {
		position: absolute;
		top: 48px;
		right: 0px;
		left: 0px;
		max-height: 0px;
		background: #e95420;
		overflow-y: scroll;
		transition: max-height 0.25s ease-in-out;
	}
	
	header.show nav {
		max-height: calc(100vh - 48px);
	}
	
	header nav > ul > li {
		display: block;
	}
	
	header nav > ul > li:hover .submenu > ul {
		display: none;
	}
	
	header nav > ul > li.top-level > a::after {
		display: none;
	}
	
	header nav > ul > li.open > a {
		color: inherit;
		background: inherit;
	}
	
	header nav > ul > li.open:hover > a {
		background: #1b1b1b;
	}
	
	section.higher-padded {
		padding: 20px 0px;
	}
}

nav.breadcrumbs {
	position: relative;
	padding: 0px;
	font-size: 14px;
	color: #444;
	background: rgba(225, 225, 225, 0.5);
	box-shadow: 0px 0px 2px #333;
	z-index: 1;
}

nav.breadcrumbs.shadow-left::before,
nav.breadcrumbs.shadow-right::after {
	content: "";
	position: absolute;
	bottom: 0px;
	padding: 2px;
	color: #bba;
	font-size: 14px;
	z-index: 1;
}

nav.breadcrumbs.shadow-left::before {
	content: "\00ab";
	left: 0px;
}

nav.breadcrumbs.shadow-right::after {
	content: "\00bb";
	right: 0px;
}

nav.breadcrumbs ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	white-space: nowrap;
	transition: 
}

nav.breadcrumbs ul.scroll {
	overflow-x: scroll;
}

nav.breadcrumbs ul li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

nav.breadcrumbs ul li a {
	display: block;
	padding: 14px 10px;
	color: #666;
	background: #efefef;
	text-decoration: inherit;
	transition: background 0.25s ease-out;
}

nav.breadcrumbs ul li.current-section a {
	min-width: 80px;
	padding: 13px 20px;
	font-size: 16px;
	text-align: center;
	color: #fff;
	background: #e95420;
}

nav.breadcrumbs ul li.current-section a:hover {
	text-decoration: underline;
}

nav.breadcrumbs ul li.current:not(.current-section):not(.not-exact) a, nav.breadcrumbs ul li:not(.current-section) a:hover {
	color: #e95420;
	background: #fff;
}

@media screen and (max-width: 960px) {
	nav.breadcrumbs ul {
		width: 100%;
		border-bottom: 4px solid #ddd;
		overflow-x: scroll;
	}
	
	nav.breadcrumbs ul li {
		border-right: 1px solid #ddd;
	}
	
	nav.breadcrumbs ul li:last-child {
		border-right: none;
	}
}

footer nav > ul {
	display: flex;
	flex-flow: row;
}

footer nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: left;
}

footer nav ul li {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	width: 20%;
	color: #000;
	vertical-align: top;
	font-weight: normal;
}

footer nav ul li.social {
	text-align: center;
	width: 40%;
}

footer nav ul li.social ul {
	display: block;
	margin: 0px auto;
	text-align: center;
}

footer nav ul li ul li {
	display: block;
	width: auto;
	color: #666;
	font-weight: 300;
}

footer nav ul li.social ul li {
	display: inline-block;
	vertical-align: middle;
}

footer nav > ul > li:not(:last-child) {
	border-right: 1px solid transparent;
}

footer nav > ul > li.line-right,
footer nav > ul.footer-menu > li:not(:last-child) {
	border-right: 1px dotted #888;
}

footer nav ul li a, footer nav ul li span {
	display: block;
	padding: 5px 25px;
}

footer nav ul li.current:not(.not-exact) > a, footer nav ul li a:hover {
	color: inherit;
	text-decoration: underline;
}

footer nav ul li.social ul li a {
	display: block;
	margin: 5px;
	padding: 0px;
	font-size: 0px;
	background: #ddd;
	border-radius: 100%;
}

footer nav ul li.social ul li a svg {
	width: 30px;
}

footer nav ul li.social ul li a svg path.logo {
	fill: #fff;
}

footer nav ul li.social ul li a svg path.icon {
	fill: #666;
}

footer nav ul li.social ul li.twitter a:hover svg path.icon {
	fill: #1da1f2;
}

footer nav ul li.social ul li.facebook a:hover svg path.icon {
	fill: #3b5898;
}

footer nav ul li.social ul li.linkedin a:hover svg path.icon {
	fill: #0274b3;
}

footer nav ul li.social ul li.google-plus a:hover svg path.icon {
	fill: #dc4e41;
}

footer nav ul li span {
	opacity: 0.75;
}

@media screen and (max-width: 960px) {	
	footer nav > ul {
		display: block;
	}
	
	footer nav ul li,
	footer nav ul li.social {
		display: block;
		width: auto;
	}
	
	footer nav > ul > li {
		margin-top: 20px;
	}
	
	footer nav > ul > li:not(:last-child),
	footer nav > ul.footer-menu > li:not(:last-child) {
		border-right: none;
	}
}

.download-details {
	display: block;
	font-size: 0.75em;
}
