/*** content ***/
.p-strip--dark a,
.p-strip--accent a,
.p-strip--image.is-dark a {
  color: white !important;
}

@media (min-width: 772px) {
  .p-inline-images--narrow-margin .p-inline-images__item {
    margin: 1rem;
  }
}

img.black-to-white {
  filter: brightness(0) invert(1);
}

/*** main navigation ***/

@media (min-width: 772px) {
  .p-navigation__banner {
    background-color: #e95420;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .p-navigation__logo {
    margin: 0;
  }

  .p-navigation__logo > * {
    display: inline-block;
    width: 107px;
    color: white !important;
    font-weight: bold;
    justify-content: center;
  }

  .p-navigation__item--current {
    background-color: white;
  }

  .p-navigation__item--current > * {
    color: black !important;
  }
}

/*** secondary navigation ***/

@media (min-width: 772px) {
  .p-navigation--secondary {
    z-index: unset;
  }

  .p-navigation--secondary .p-navigation__logo {
    height: unset;
  }

  .p-navigation--secondary .p-navigation__item .p-navigation__link {
    font-size: 0.875rem;
    line-height: 1em;
  }

  .p-navigation--secondary .p-navigation__item--current > * {
    color: #e95420 !important;
  }
}

/*** footer ***/

footer {
  font-size: 0.875rem;
}

footer .nav__item--current > * {
  color: #e95420 !important;
}

footer .p-inline-list--social {
  font-size: 2rem;
}

footer .p-inline-list--social a {
  color: #666;
  text-decoration: none;
}

footer .p-inline-list--social .github a:hover {
	color: #24292e;
}

footer .p-inline-list--social .mastodon a:hover {
	color: #3088d4;
}

footer .p-inline-list--social .telegram a:hover {
	color: #179cde;
}

footer .p-inline-list--social .twitter a:hover {
	color: #1da1f2;
}
