---
title: Aktualizace Ubuntu
description: Podívejte se jak provést aktualizaci z předchozí verze Ubuntu.
permalink: /ziskat-ubuntu/stahnout-desktop/aktualizace/
redirect_from:
  - /ke-stazeni/aktualizace
layout: default
---
<section class="p-strip--image is-dark" style="background-image: url('{{ 'assets/img/update-hero.jpg' | relative_url }}'); background-size: cover; background-position: bottom 15% center;">
  <div class="row">
    <div class="col-6 col-start-large-7 p-card--overlay">
      <h1>Aktualizace Ubuntu</h1>
      <p class="p-card__content">
        K tomu, abyste udrželi váš počítač neustále bezpečný a mohli využívat nejen nových funkcí a vylepšení, ale rovněž moderní aplikace, je důležité provádět malé i velké aktualizace softwaru.
      </p>
      <p class="p-card__content">
        Přechod na vyšší verzi Ubuntu spadá do kategorie velkých aktualizací a v závislosti na vašem rozhodnutí je vhodné ho provádět 2x ročně, či jednou za dva roky při setrvávání na verzích Ubuntu s dlouhodobou podporou (LTS).
      </p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-vertically-center">
    <div class="col-8">
      <p>
        Pro přechod na novější verzi Ubuntu si vyhraďte delší čas, než pro běžné aktualizace. Počítejte s tím, že je nutno stáhnout větší objem dat a současně také přepsat velké množství součástí systému novějšími verzemi. Z toho důvodu si rovněž nezapomeňte uložit veškerou svou práci a důležité dokumenty pro případ nouze, ideálně na externí úložiště nebo cloud.
      </p>
      <p>
        V závislosti na rychlosti internetového připojení a výkonu počítače může povýšení systému běžně zabrat 15 - 30 minut, ovšem za určitých okolností i mnohem déle. Během aktualizace sice počítač využívat můžete, ale bude docházet k nahrazování jednotlivých částí systému novějšími verzemi a tím pádem k potenciální nestabilitě. Nevyužívejte tedy po dobu aktualizace počítač k důležité práci.
      </p>
    </div>
    <div class="col-4 u-hide--small">
      <p>
        <img src="{{ 'assets/img/small/timer.svg' | relative_url }}" alt="timer" style="display: block; margin: auto; width: 50%; max-width: 200px;">
      </p>
    </div>
  </div>
</section>

<section class="p-strip--dark">
  <div class="row u-equal-height">
    <div class="col-4">
      <img src="{{ 'assets/img/screenshots/update-launch.png' | relative_url }}" alt="screehshot" class="responsive">
      <p>
        Nalezneme a spustíme správce aktualizací.
      </p>
    </div>
    <div class="col-4">
      <img src="{{ 'assets/img/screenshots/update-available.png' | relative_url }}" alt="screehshot" class="responsive">
      <p>
        Potvrdíme instalaci aktualizace nové nalezené verze Ubuntu.
      </p>
    </div>
    <div class="col-4">
      <img src="{{ 'assets/img/screenshots/update-installation.png' | relative_url }}" alt="screehshot" class="responsive">
      <p>
        Sledujeme průvodce aktualizací a potvrzujeme případné žádosti o povolení pokračovat.
      </p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2>Postup aktualizace</h2>
      <ol class="p-stepped-list">
        <li class="p-stepped-list__item">
          <h6 class="p-stepped-list__title"><strong>Spusťte správce aktualizací</strong></h6>
          Tuto akci provedete například vyhledáním slova "Správce aktualizací" v menu programů. Menu se nachází v dokovacím panelu (standardně vlevo dole).
        </li>
        <li class="p-stepped-list__item">
          <h6 class="p-stepped-list__title"><strong>Zkontrolujte dostupné aktualizace</strong></h6>
          Po otevření správce aktualizací klikněte na tlačítko "Zkontrolovat". Systém si ověří, které balíky může aktualizovat a uloží si je do databáze.
        </li>
        <li class="p-stepped-list__item">
          <h6 class="p-stepped-list__title"><strong>Aktualizujte</strong></h6>
          Jakmile je kontrola dokončena, klikněte na tlačítko "Aktualizovat". Zobrazí se poznámky k vydání. Pokud si přejete systém povýšit na novou verzi, pokračujte tlačítkem "Aktualizovat" a držte se aktualizačních pokynů.
        </li>
      </ol>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h3>Volba verzí pro aktualizaci</h3>
      <p>
        Ubuntu vychází ve verzích s dlouhodobou podporou (LTS), každý druhý rok vždy na jaře. A mimo to co půl roku vycházejí standardní verze s kratší podporou. Dle vaší preference je možné systém nastavit tak, aby nabízel či nenabízel aktualizace na verze s kratší podporou.
      </p>
      <p>
        Změnu nastavení můžete provést v aplikaci "Software &amp; Aktualizace", v záložce "Aktualizace" pod položkou "Zobrazit upozornění na nové verze Ubuntu", kde si lze vybrat z možností:
      </p>
      <ul>
        <li>"Pro verze s dlouhodobou podporou"</li>
        <li>"Pro jakoukoliv novou verzi"</li>
      </ul>
    </div>
    <div class="col-4">
      <p>
        <img src="{{ 'assets/img/screenshots/update-version-selection.png' | relative_url }}" alt="screehshot">
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-12">
      <h3>Aktualizace z nejnovější verze Ubuntu na aktuální vývojovou verzi Ubuntu</h3>
      <p>
        <strong>
          Pozor: instalace vývojové verze může způsobit neočekávané chování počítače, či dokonce ztrátu dat. Není tak doporučeno tento software nasazovat do produkčního prostředí, dokud nedosáhne své stabilní verze.
        </strong>
      </p>
      <p>
        Tento postup není určen pro běžné uživatele!
      </p>
      <ol class="p-stepped-list">
        <li class="p-stepped-list__item">
          <h6 class="p-stepped-list__title"><strong>Spusťte správce aktualizací</strong></h6>
          Otevřete aplikaci terminál z menu aplikací a zadejte následující příkaz: <code>update-manager -d</code>.
        </li>
        <li class="p-stepped-list__item">
          <h6 class="p-stepped-list__title"><strong> Aktualizujte</strong></h6>
          Přejděte na novější verzi distribuce klepnutím na tlačítko "Aktualizovat" a dále postupujte podle instrukcí na obrazovce.
        </li>
      </ol>
    </div>
  </div>
</section>
