---
title: Stáhnout Ubuntu pro počítač
description: Stáhněte si Ubuntu pro osobní počítače a vyměňte svůj stávající operační systém ať už jsou to Windows nebo macOS, nebo nainstalujte Ubuntu vedle a přepínejte mezi systémy při startu počítače.
permalink: /ziskat-ubuntu/stahnout-desktop/
layout: default
---
<section class="p-strip--image is-light" style="background-image: url('{{ 'assets/img/hero-banner-22.04.jpg' | relative_url }}'); background-size: cover; background-position: center center;">
  <div class="row">
    <div class="col-6 p-card--overlay">
      <h1>Stáhnout Ubuntu pro osobní počítače</h1>
      <p class="p-card__content">
        Na výběr máte mezi dlouhodobě podporovanými verzemi, které vycházejí jednou za 2 roky, a verzemi s kratším, půlročním, vývojovým cyklem, průběžně přinášející novinky, ale na druhou stranu také vyžadující častější přechodové aktualizace.
      </p>
    </div>
  </div>
</section>

<section class="p-strip--accent is-shallow" style="background-color: #e95420;">
  <div class="row">
    <div class="col-12">
      <p>Ubuntu si můžete stáhnout a nainstalovat úplně sami, jednoduše a zcela zdarma.</p>
    </div>
  </div>
</section>

<section class="p-strip{% if site.data.ubuntu_releases.latest.lts.version == site.data.ubuntu_releases.latest.release.version %}--light{% endif %}" id="lts">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-6">
      <h2>Ubuntu {{ site.data.ubuntu_releases.latest.lts.version }} LTS</h2>
      <p>
        Ubuntu {{ site.data.ubuntu_releases.latest.lts.version }} LTS {{ site.data.ubuntu_releases.latest.lts.name }} je vydání s dlouhodobou podporou, která činí 5 let počínaje {{ site.data.ubuntu_releases.latest.lts.released | date: "%-d. %-m. %Y" }}.
      </p>
      <p><a href="https://cz.releases.ubuntu.com/{{ site.data.ubuntu_releases.latest.lts.version }}/ubuntu-{{ site.data.ubuntu_releases.latest.lts.version }}-desktop-amd64.iso" id="lts-download-link" class="p-button--positive">Stáhnout Ubuntu {{ site.data.ubuntu_releases.latest.lts.version }} LTS</a></p>
      <p>
        <small>
          <a href="https://cz.releases.ubuntu.com/{{ site.data.ubuntu_releases.latest.lts.version }}/ubuntu-{{ site.data.ubuntu_releases.latest.lts.version }}-desktop-amd64.iso.torrent">Stáhnout přes BitTorrent</a>
        </small>
      </p>
    </div>
    <div class="col-6">
      <h3>Doporučené systémové požadavky</h3>
      <ul class="p-list">
        <li class="p-list__item">2 GHz dvoujádrový procesor nebo lepší.</li>
        <li class="p-list__item">4 GB operační paměti RAM.</li>
        <li class="p-list__item">25 GB volného prostoru na disku.</li>
        <li class="p-list__item">USB port pro instalační médium.</li>
        <li class="p-list__item">Doporučeno je připojení k internetu pro instalaci doplňků jako jsou multimediální kodeky a zahrnutí nejnovějších aktualizací.</li>
      </ul>
    </div>
  </div>
</section>

{% if site.data.ubuntu_releases.latest.lts.version != site.data.ubuntu_releases.latest.release.version %}
  <section class="p-strip--light" id="standard">
    <div class="row u-equal-height u-vertically-center">
      <div class="col-6">
        <h2>Ubuntu {{ site.data.ubuntu_releases.latest.release.version }}</h2>
        <p>
          Nejnovější vydání Ubuntu pro počítače a notebooky. Ubuntu {{ site.data.ubuntu_releases.latest.release.version }} {{ site.data.ubuntu_releases.latest.release.name }} přináší 9 měsíců bezpečnostních a údržbových aktualizací.
        </p>
        <p>
          Pro konzervativnější a déle podporované vydání stahujte <a href="#lts" class="text">Ubuntu s dlouhodobou podporou výše</a>
        </p>
        <p><a href="https://cz.releases.ubuntu.com/{{ site.data.ubuntu_releases.latest.release.version }}/ubuntu-{{ site.data.ubuntu_releases.latest.release.version }}-desktop-amd64.iso" id="standard-download-link" class="p-button--positive">Stáhnout Ubuntu {{ site.data.ubuntu_releases.latest.release.version }}</a></p>
        <p>
          <small>
            <a href="https://cz.releases.ubuntu.com/{{ site.data.ubuntu_releases.latest.release.version }}/ubuntu-{{ site.data.ubuntu_releases.latest.release.version }}-desktop-amd64.iso.torrent">Stáhnout přes BitTorrent</a>
          </small>
        </p>
      </div>
      <div class="col-6">
        <h3>Doporučené systémové požadavky</h3>
        <p>
          Doporučené systémové požadavky jsou stejné, jako pro Ubuntu LTS.
        </p>
      </div>
    </div>
  </section>
{% endif %}

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-6 p-heading-icon">
      <div class="p-heading-icon__header">
        <img class="p-heading-icon__img" src="{{ 'assets/img/icons/picto-windows.svg' | relative_url }}" alt="windows">
        <h3 class="p-heading-icon__title">Přechod z Windows</h3>
      </div>
      <p>
        Jste-li uživatelem Windows, stáhněte si Ubuntu odsud a nainstalujte.
        <br>
        K dispozici budete mít přívětivé, intuitivní a responzivní prostředí, připravené pro všechny možné situace.
      </p>
    </div>
    <div class="col-6 p-heading-icon">
      <div class="p-heading-icon__header">
        <img class="p-heading-icon__img" src="{{ 'assets/img/icons/picto-mac.svg' | relative_url }}" alt="macos">
        <h3 class="p-heading-icon__title">Přechod z macOS</h3>
      </div>
      <p>
        Ubuntu můžete nainstalovat i na svůj počítač Apple.
        <br>
        Získáte tak otevřenou základnu pro svou efektivní práci v prostředí, které vás nebude nikdy rušit.
      </p>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>Stáhli jste si Ubuntu, ale nevíte, jak postupovat při jeho instalaci?</h2>
        <p>
          Máte-li uložený .iso obraz Ubuntu na svém počítači, musíte ho nejprve správným způsobem uložit na USB flash disk (nestačí obraz pouze na flash disk „přetáhnout“). Pro bližší informace o postupu před samotnou instalací si přečtěte <a href="{% link _pages/ziskat-ubuntu/stahnout-desktop/instalace.html %}">stránku dedikovanou instalaci Ubuntu</a>.
        </p>
        <p>
          <em>
            Postup není náročný a je možné ho provést během několika málo minut, včetně spuštění instalátoru.
          </em>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2>Aktualizace Ubuntu</h2>
        <p>
          Pokud již používáte Ubuntu, můžete snadno aktualizovat na nejnovější verzi jen v páru kliknutí.
        </p>
        <p>
          <a href="{% link _pages/ziskat-ubuntu/stahnout-desktop/aktualizace.html %}">Chcete systém aktualizovat? Následujte jednoduchý postup</a>
        </p>
      </div>
    </div>
  </div>
</section>
