---
title: Stáhnout Ubuntu pro server
description: Stáhněte si Ubuntu pro server.
permalink: /ziskat-ubuntu/stahnout-server/
layout: default
---
<section class="p-strip--image is-dark" style="background-image: url('{{ 'assets/img/network-hero.jpg' | relative_url }}'); background-size: cover; background-position: center center;">
  <div class="row">
    <div class="col-6" style="background: rgba(0, 0, 0, 0.5); padding: 1rem;">
      <h1>Stáhnout Ubuntu ve verzi pro server</h1>
      <p class="p-card__content">
        Na výběr máte mezi dlouhodobě podporovanými verzemi, které vycházejí jednou za 2 roky, a verzemi s kratším, půlročním, vývojovým cyklem, průběžně přinášející novinky, ale na druhou stranu také vyžadující častější přechodové aktualizace.
      </p>
    </div>
  </div>
</section>

<section class="p-strip" id="lts">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-6">
      <h2>Ubuntu {{ site.data.ubuntu_releases.latest.lts.version-server }} LTS</h2>
      <p>
        Ubuntu {{ site.data.ubuntu_releases.latest.lts.version-server }} LTS {{ site.data.ubuntu_releases.latest.lts.name }} je vydaní s dlouhodobou podporou, která činí 5 let od data vydání {{ site.data.ubuntu_releases.latest.lts.released | date: "%-d. %-m. %Y" }}.
      </p>
      <p><a href="https://cz.releases.ubuntu.com/{{ site.data.ubuntu_releases.latest.lts.version-server }}/ubuntu-{{ site.data.ubuntu_releases.latest.lts.version-server }}-live-server-amd64.iso" id="lts-download-link" class="p-button--positive">Stáhnout Ubuntu Server {{ site.data.ubuntu_releases.latest.lts.version-server }} LTS (64bit)</a></p>
      <p>
        <small>
          <a href="https://cz.releases.ubuntu.com/{{ site.data.ubuntu_releases.latest.lts.version-server }}/ubuntu-{{ site.data.ubuntu_releases.latest.lts.version-server }}-live-server-amd64.iso.torrent">Stáhnout přes BitTorrent</a>
          <br>
          <a href="https://cdimage.ubuntu.com/releases/{{ site.data.ubuntu_releases.latest.lts.version-server }}/release">Alternativní obrazy pro další architektury</a>
        </small>
      </p>
    </div>
    <div class="col-6 u-align--center">
      <img src="{{ 'assets/img/small/image-server.svg' | relative_url }}" alt="ubuntu on server">
    </div>
  </div>
</section>

{% if site.data.ubuntu_releases.latest.lts.version-server != site.data.ubuntu_releases.latest.release.version-server %}
  <section class="p-strip--light" id="standard">
    <div class="row">
      <div class="col-6">
        <h2>Ubuntu {{ site.data.ubuntu_releases.latest.release.version-server }}</h2>
        <p>
          Nejnovější vydání Ubuntu pro počítače a notebooky. Ubuntu {{ site.data.ubuntu_releases.latest.release.version-server }} {{ site.data.ubuntu_releases.latest.release.name }} přináší 9 měsíců bezpečnostních a údržbových aktualizací.
        </p>
        <p>
          Pro konzervativnější a déle podporované vydání stahujte <a href="#lts">Ubuntu s dlouhodobou podporou výše</a>.
        </p>
        <p><a href="https://cz.releases.ubuntu.com/{{ site.data.ubuntu_releases.latest.release.version-server }}/ubuntu-{{ site.data.ubuntu_releases.latest.release.version-server }}-live-server-amd64.iso" id="standard-download-link" class="p-button--positive">Stáhnout Ubuntu Server {{ site.data.ubuntu_releases.latest.release.version-server }} (64bit)</a></p>
        <p>
          <small>
            <a href="https://cz.releases.ubuntu.com/{{ site.data.ubuntu_releases.latest.release.version-server }}/ubuntu-{{ site.data.ubuntu_releases.latest.release.version-server }}-live-server-amd64.iso.torrent">Stáhnout přes BitTorrent</a>
            <br>
            <a href="https://cdimage.ubuntu.com/releases/{{ site.data.ubuntu_releases.latest.release.version-server }}/release">Alternativní obrazy pro další architektury</a>
          </small>
      </div>
    </div>
  </section>
{% endif %}

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h2>Internet věcí</h2>
      <p>
        Hledáte-li verzi specifickou pro některé embedded zařízení, navštivte <a href="{% link _pages/server/iot.html %}">sekci Internetu věcí</a>, která se problematice věnuje blíže.
      </p>
      <p>
        Zajímá-li vás Raspberry&nbsp;Pi, bližší informace naleznete na <a href="{% link _pages/server/raspberry-pi.html %}">stránce mu dedikované</a>.
      </p>
    </div>
    <div class="col-4">
      <img src="{{ 'assets/img/small/image-iot.jpg' | relative_url }}" alt="internet věcí">
    </div>
  </div>
</section>
