---
title: Ubuntu v Cloudu
description: Ubuntu ve veřejném Cloudu
permalink: /server/cloud/
layout: default
---
<section class="p-strip--suru-topped is-bordered">
  <div class="row u-vertically-center">
    <div class="col-8">
      <h1>Ubuntu ve veřejném Cloudu</h1>
      <p class="p-card__content">
        Ubuntu je dostupné rovněž v podobě optimalizovaných serverových sestavení pro partnery, mezi něž patří Amazon&nbsp;AWS, Microsoft Azure, Google Cloud Platform, IBM&nbsp;Cloud a Oracle. Nad rámec existence těchto verzí nabízí Canonical rovněž program podpory <a href="https://ubuntu.com/pro" target="_blank">Ubuntu Advantage</a>, určený zejména jako komerční podpora pro podnikovou sféru.
      </p>
    </div>
    <div class="col-4 u-align--center">
      <img src="{{ 'assets/img/iot/ubuntu-cloud.svg' | relative_url }}" alt="Ubuntu pro Cloud" style="margin: auto; max-width: 380px; max-height: 180px;">
    </div>
  </div>
</section>

<section class="p-strip--light is-deep">
  <div class="row u-vertically-center">
    <div class="col-10">
      <h2>Používejte ubuntu ve veřejném Cloudu</h2>
      <p>Obrazy Ubuntu jsou k dispozici na následujících veřejných platformách. <em>Níže uvedené odkazy vedou na příslušné stránky produktů dostupné v Angličtině</em>.</p>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="p-card col-4">
      <div class="p-card__content">
        <h4>
          <div class="u-align--center u-vertically-center" style="min-height: 10rem; display: flex;">
            <img src="{{ 'assets/img/iot/logos/aws.webp' | relative_url }}" alt="Amazon AWS" title="Amazon AWS">
          </div>
        </h4>
        <p>Amazon&nbsp;Web Services nabízí spolehlivé, škálovatelné a levné cloudové služby.</p>
      </div>
      <ul class="p-list">
        <li class="p-list__item u-no-margin--top">
          <a href="https://help.ubuntu.com/community/EC2StartersGuide" target="_blank">Návod, jak začít s Amazon&nbsp;AWS</a>
        </li>
        <li class="p-list__item"><a href="https://cloud-images.ubuntu.com/locator/ec2/" target="_blank">Amazon EC2 AMI Locator</a></li>
        <li class="p-list__item"><a href="https://ubuntu.com/aws/pro" target="_blank">Začněte s programem Ubuntu Pro v cloudu Amazon&nbsp;AWS</a></li>
      </ul>
    </div>

    <div class="p-card col-4">
      <div class="p-card__content">
        <h4>
          <div class="u-align--center u-vertically-center" style="min-height: 10rem; display: flex;">
            <img src="{{ 'assets/img/iot/logos/microsoft-azure.webp' | relative_url }}" alt="Microsoft Azure" title="Microsoft Azure">
          </div>
        </h4>
        <p>Microsoft Azure je otevřená a flexibilní cloudová platforma.</p>
      </div>
      <ul class="p-list">
        <li class="p-list__item u-no-margin--top">
          <a href="https://docs.microsoft.com/en-us/azure/virtual-machines/linux/" target="_blank">Návod, jak začít s Microsoft Azure</a>
        </li>
        <a href="https://azuremarketplace.microsoft.com/en-gb/marketplace/apps?search=Canonical+linux+for+the+cloud+Ubuntu%20Server&page=1" target="_blank">Microsoft Azure Marketplace</a>
        <li class="p-list__item"><a href="https://ubuntu.com/azure" target="_blank">Spustit Ubuntu na Microsoft Azure</a></li>
        <li class="p-list__item"><a href="https://ubuntu.com/azure/pro" target="_blank">Začněte s programem Ubuntu Pro v cloudu Microsoft Azure</a></li>
      </ul>
    </div>

    <div class="p-card col-4">
      <div class="p-card__content">
        <h4>
          <div class="u-align--center u-vertically-center" style="min-height: 10rem; display: flex;">
            <img src="{{ 'assets/img/iot/logos/google-cloud.webp' | relative_url }}" alt="Google Cloud" title="Google Cloud">
          </div>
        </h4>
        <p>Google Cloud Platform umožňuje díky své škálovatelnosti kompilovat a hostovat aplikace, webové stránky, fungovat jako úložiště či analyzátor dat.</p>
      </div>
      <ul class="p-list">
        <li class="p-list__item u-no-margin--top">
          <a href="https://cloud.google.com/sdk/docs/quickstart-debian-ubuntu" target="_blank">Návod, jak používat Google Cloud</a>
        </li>
        <li class="p-list__item"><a href="https://console.cloud.google.com/launcher/browse?q=ubuntu&filter=category:os&filter=price:free" target="_blank">Začněte s Google Cloud</a></li>
      </ul>
    </div>
    <div class="row u-equal-height">
      <div class="p-card col-4">
        <div class="p-card__content">
          <h4>
            <div class="u-align--center u-vertically-center" style="min-height: 10rem; display: flex;">
              <img src="{{ 'assets/img/iot/logos/ibm-cloud.webp' | relative_url }}" alt="IBM Cloud" title="IBM Cloud">
            </div>
          </h4>
        </div>
        <ul class="p-list">
          <li class="p-list__item u-no-margin--top"><a href="https://www.ibm.com/cloud/" target="_blank">Začněte s IBM&nbsp;Cloud</a></li>
        </ul>
      </div>
  
      <div class="p-card col-4">
        <div class="p-card__content">
          <h4>
            <div class="u-align--center u-vertically-center" style="min-height: 10rem; display: flex;">
              <img src="{{ 'assets/img/iot/logos/oracle.webp' | relative_url }}" alt="Oracle Cloud" title="Oracle Cloud">
            </div>
          </h4>
        </div>
        <ul class="p-list">
          <li class="p-list__item u-no-margin--top"><a href="https://docs.oracle.com/en/cloud/get-started/index.html" target="_blank">Začněte s Oracle Cloud</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-vertically-center">
    <div class="col-6">
      <img src="{{ 'assets/img/small/laptop-developers.webp' | relative_url }}" alt="developers">
    </div>
    <div class="col-6">
      <h2>Vyvíjejte s obrazy Ubuntu Cloud</h2>
      <p>
        Pokud chcete modifikovat standardní cloudové obrazy, nebo je použít pro lokální vývoj, můžete je získat na adrese <a href="https://cloud-images.ubuntu.com/" target="_blank">cloud-images.ubuntu.com</a>.
      </p>
      <p>
        <a href="https://ubuntu.com/cloud" class="p-button" target="_blank">Zjistěte více o Ubuntu pro Cloud</a>
      </p>
    </div>
  </div>
</section>
