---
title: Server
description: Ubuntu pro osobní i firemní servery, cloud a internet věcí.
permalink: /server/
redirect_from:
  - /cojeubuntu/server
  - /produkty/cojeubuntu/server
layout: default
---
<section class="p-strip--suru is-dark">
  <div class="row u-equal-height">
    <div class="col-6">
      <h1>Rozšiřujte své služby s Ubuntu server</h1>
      <p class="p-card__content">
        Ubuntu Server přináší možnost nastavit si parametry vaší infrastruktury tak, aby systém pokryl všechny požadavky při zachování co možná nejnižších výdajů. Ať již pracujete s&nbsp;OpenStack cloud, kontejnerovým řešením clustr Kubernetes nebo renderovací farmou s&nbsp;50&nbsp;000 uzly, Ubuntu Server přináší nejlepší dostupný poměr ceny a poskytnutých prostředků.
      </p>
    </div>
    <div class="col-6 u-vertically-center u-hide--medium u-hide--small">
      <img src="{{ 'assets/img/icons/server.svg' | relative_url }}" alt="server" style="margin: auto; max-width: 380px;">
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2>Výkon a přizpůsobení</h2>
      <p class="p-heading--3">Agilní, bezpečná a kdekoliv nasaditelná technologie pro rychle se rozvíjející podniky</p>
    </div>
    <div class="col-6">
      <p>
        Nezáleží na tom, zda chcete nasadit NoSQL databázi, webovou farmu nebo cloud. Certifikováno předními výrobci hardwaru a s&nbsp;komplexními nástroji pro nasazení, abyste ze své infrastruktury dokázali vytěžit maximum.
      </p>
    </div>
    <div class="col-6">
      <p>
        Náš pravidelný cyklus vydávání umožňuje přístup k&nbsp;nejnovějšímu a nejoptimalizovanějšímu open source softwaru. Jednoduchá počáteční instalace spolu s&nbsp;integrovanými metodami nasazení činí z Ubuntu Server skvělé řešení pro jednoduchou instalaci a správu i&nbsp;ve velkém měřítku.
      </p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height u-vertically-center u-align--center">
    <div class="col-12 p-logo-section">
      <h2>Funguje s každým vaším hardwarem a softwarem</h2>
      <ul class="p-logo-section__items">
        <li class="p-logo-section__item">
          <span class="p-logo-section__logo">
            <img src="{{ 'assets/img/form-factors/icon-laptop.svg' | relative_url }}" alt="laptop" title="Počítač">
            <br>
            Počítač
          </span>
        </li>
        <li class="p-logo-section__item">
          <span class="p-logo-section__logo">
            <img src="{{ 'assets/img/form-factors/icon-server.svg' | relative_url }}" alt="server" title="Server">
            <br>
            Server
          </span>
        </li>
        <li class="p-logo-section__item">
          <span class="p-logo-section__logo">
            <img src="{{ 'assets/img/form-factors/icon-containers.svg' | relative_url }}" alt="kontejnery" title="Kontejnery">
            <br>
            Kontejnery
          </span>
        </li>
        <li class="p-logo-section__item">
          <span class="p-logo-section__logo">
            <img src="{{ 'assets/img/form-factors/icon-cloud.svg' | relative_url }}" alt="cloud" title="Cloud">
            <br>
            Cloud
          </span>
        </li>
        <li class="p-logo-section__item">
          <span class="p-logo-section__logo">
            <img src="{{ 'assets/img/form-factors/icon-iot.svg' | relative_url }}" alt="internet věcí" title="Internet věcí">
            <br>
            Internet věcí
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .p-logo-section .p-logo-section__item img[src$=".svg"] {
    margin: 20px auto;
    padding: 20px;
    max-height: 120px;
  }
</style>

<div class="p-strip is-deep is-bordered" style="padding-top: 2rem;">
  <div class="row u-equal-height u-vertically-center u-align--center">
    <div class="col-12 p-logo-section">
      <h2>Partneři Ubuntu</h2>
      <div class="p-logo-section__items">
        <div class="p-logo-section__item">
          <img src="{{ 'assets/img/partners/lenovo.svg' | relative_url }}" alt="Lenovo" title="Lenovo">
        </div>
        <div class="p-logo-section__item">
          <img src="{{ 'assets/img/partners/dell.svg' | relative_url }}" alt="Dell" title="Dell">
        </div>
        <div class="p-logo-section__item">
          <img src="{{ 'assets/img/partners/ibm.svg' | relative_url }}" alt="IBM" title="IBM">
        </div>
        <div class="p-logo-section__item">
          <img src="{{ 'assets/img/partners/hp.svg' | relative_url }}" alt="Hewlett Packard" title="Hewlett Packard">
        </div>
        <div class="p-logo-section__item">
          <img src="{{ 'assets/img/partners/intel.svg' | relative_url }}" alt="Intel" title="Intel">
        </div>
        <div class="p-logo-section__item">
          <img src="{{ 'assets/img/partners/cisco.svg' | relative_url }}" alt="Cisco" title="Cisco">
        </div>
        <div class="p-logo-section__item">
          <img src="{{ 'assets/img/partners/amd.svg' | relative_url }}" alt="AMD" title="AMD">
        </div>
        <div class="p-logo-section__item">
          <img src="{{ 'assets/img/partners/arm.svg' | relative_url }}" alt="ARM" title="ARM">
        </div>
      </div>
    </div>
    <div class="u-align--center">
      <a href="https://ubuntu.com/certified" target="_blank">Všichni certifikovaní partneři</a>
    </div>
    <div class="col-12 p-logo-section">
      <div class="p-logo-section__items">
        <div class="p-logo-section__item">
          <img src="{{ 'assets/img/partners/logo-centrify.webp' | relative_url }}" alt="Centrify" title="Centrify">
        </div>
        <div class="p-logo-section__item">
          <img src="{{ 'assets/img/partners/logo-openstack.webp' | relative_url }}" alt="OpenStack" title="OpenStack">
        </div>
        <div class="p-logo-section__item">
          <img src="{{ 'assets/img/partners/logo-likewise.webp' | relative_url }}" alt="Likewise" title="Likewise">
        </div>
        <div class="p-logo-section__item">
          <img src="{{ 'assets/img/partners/logo-openbravo.webp' | relative_url }}" alt="Openbravo" title="Openbravo">
        </div>
      </div>
    </div>
    <div class="u-align--center">
      <a href="https://canonical.com/partners/channel-and-reseller" target="_blank">Všichni certifikovaní softwarový partneři</a>
    </div>
  </div>
</div>

<section class="p-strip--light">
  <div class="row">
    <div class="col-12">
      <h2>Na pravidelná vydání nových verzí systému se můžete spolehnout</h2>
    </div>
  </div>
  <div style="height: 20px;"></div>
  <div class="row">
    <div class="col-6">
      <p class="p-heading--4">Nezůstávejte pozadu s pravidelnými aktualizacemi softwaru a novými verzemi Ubuntu</p>
      <p>
        Serverová vydání s&nbsp;dlouhodobou podporou (LTS) jsou podporována Canonicalem po dobu pěti let. Každých šest měsíců vycházejí meziverze, které přinášejí podporu nových zařízení do podporovaných LTS systémů.
      </p>
      <p>
        Přihlášení se k programu <a href="https://ubuntu.com/pro" target="_blank">Ubuntu Pro</a> vám zajistí (nad rámec standardního životního cyklu jednotlivých LTS vydání) bezpečnostní aktualizace více než 30&nbsp;000 balíčků po dobu deseti let, s&nbsp;možnou profesionální podporou od firmy Canonical na telefonu a skrze systém pro hlášení a správu problémů.
      </p>
      <p>
        Této nabídky mohou využít rovněž jednotlivci, kteří mají službu dostupnou až na pěti zařízeních zdarma (<a href="https://wiki.ubuntu.com/Membership" target="_blank">členové komunity</a> mají tento limit navýšen na 50). Vzdělávací instituce pak mohou <a href="https://ubuntu.com/contact-us/form?product=pro" target="_blank">zažádat o speciální nabídku</a>.
      </p>
    </div>
    <div class="col-6 u-align--left">
      <div>
        {% include timeline.html %}
        <object data="{{ 'assets/img/timeline/chart-legend.svg' | relative_url }}" type="image/svg+xml" style="margin: 0px 20% 0px 0px">
          <img src="{{ 'assets/img/timeline/chart-legend.svg' | relative_url }}" alt="Legenda grafu s jednotlivými vydáními">
        </object>
      </div>
    </div>
  </div>
</section>

<section class="p-strip--accent">
  <div class="row u-vertically-center">
    <div class="col-4">
      <h2>Robustní infrastruktura a základna aplikací</h2>
      <h3>Od veřejného cloudu přes datacentra po jednotlová zařízení</h3>
    </div>
    <div class="col-4">
      <img src="{{ 'assets/img/icons/cloud.svg' | relative_url }}" alt="Ubuntu cloud"  style="display: block; margin: auto; max-width: 300px; max-height: 300px; filter: brightness(100);">
    </div>
    <div class="col-4">
      <p class="p-heading--4">
        Ubuntu je nejoblíbnější hostovaný operační systém ve veřejném cloudu, stejně jako základ pro soukromé cloudové implementace. Ubuntu je podle půzkumu <a href="https://recruit-c7ff.kxcdn.com/recruit/wp-content/uploads/2020/05/he-developer-survey-2020.pdf" target="_blank" style="color: inherit;">2020 HackerEarth</a> nejčastěji voleným systémem vývojářů.
      </p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <h2>Jak můžete Ubuntu server využít</h2>
    <div class="col-6">
      <h3>Výkon a mnohoúčelnost</h3>
      <p>
        Není důležité, jestli chcete rozvinout NoSQL databázi, webovou farmu nebo cloudové zázemí. Ubuntu má všechny potřebné vlastnosti, které potřebujete. Ubuntu je certifikováno vedoucími OEM výrobci hardwaru, což vám s&nbsp;komplexními implementačními nástroji umožní získat z&nbsp;vaší infrastruktury co nejvíce.
      </p>
    </div>
    <div class="col-6">
      <h3>Výkonná, bezpečná a všestranná technologie pro rychle rostoucí podniky</h3>
      <p>
        Pravidelný vývojový cyklus Ubuntu zajišťuje podporu nejnovějších aplikací. Tenká instalace a integrovaná implementace systému spolu se snadnými postupy dělají Ubuntu Server skvělé řešení pro snadné zavádění a následnou správu i v&nbsp;rozsáhlém měřítku.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>OpenStack</h3>
      <p>
        Postavte si vlastní cloud s Autopilotem, nejsnazším způsobem jak vytvořit a spravovat cloud OpenStack.
      </p>
      <a href="https://www.ubuntu.com/download/cloud" class="p-button" target="_blank">Začněte s Autopilotem</a>
    </div>
    <div class="col-6">
      <h3>Alternativní platformy</h3>
      <p>
        Kromě nejběžnějších platforem podporuje Ubuntu také architektury <a href="https://www.ubuntu.com/download/server/arm" target="_blank">ARM</a>, <a href="https://www.ubuntu.com/download/server/power" target="_blank">Power</a>, <a href="https://www.ubuntu.com/download/server/s390x" target="_blank">IBM Z a IBM LinuxONE</a> nebo <a href="https://ubuntu.com/download/risc-v" target="_blank">RISC-V</a>. Infrastrukturu můžete postavit na libovolném hardwaru dle svého výběru.
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-7">
      <h2>Životaplná komunita</h2>
      <p>
        Vyměňujte si své poznatky a nápady s tisíci dalšími IT profesionály.
      </p>
      <p>
        Chcete si promluvit s dalšími Ubuntu uživateli? Sdílejte své nápady a získávejte rady z obrovské aktivní komunity znalců. Jako komunity nastavujeme vysoké standardy tolerance a přátelství, vítáme vaše podněty, komentáře a vaši aktivitu.
      </p>
      <a href="https://discourse.ubuntu.com/" class="p-button" target="_blank">Navštivte komunitu</a>
    </div>
    <div class="col-5 u-vertically-center u-hide--medium u-hide--small">
      <img src="{{ 'assets/img/icons/community.svg' | relative_url }}" alt="komunita" style="margin: auto; max-width: 380px; max-height: 160px;">
    </div>
  </div>
</section>
