---
title: Desktop
description: Ubuntu pro stolní počítače a notebooky je rychlé, bezpečné a stylové, dennodenně používané 50 miliony uživatelů po celém světě.
permalink: /desktop/
redirect_from:
  - /ubuntu
  - /desktop/funkce
  - /desktop/vzhled-ubuntu
  - /desktop/proc-je-ubuntu-zdarma
layout: default
---
<section class="p-strip--image is-dark" style="background-image: url('{{ 'assets/img/screenshots/ubuntu-24.04/desktop.jpg' | relative_url }}'); background-size: cover; background-position: top center;">
  <div class="row">
    <div class="col-6">
      <h1>Ubuntu pro počítač</h1>
      <p>
        Rychlé, zdarma a až neuvěřitelně použitelné a snadné. Operační systém Ubuntu pohání miliony notebooků, stolních počítačů, serverů i nejrůznějších mobilních zařízení po celém světě.
      </p>
      <p>
        <a href="{% link _pages/ziskat-ubuntu/stahnout-desktop/index.html %}" class="p-button--positive">Stáhnout</a>
      </p>
      <p>
        <a href="{% link _pages/desktop/vlastnosti.html %}" class="p-link--inverted">Prohlédněte si Ubuntu detailněji</a>
      </p>
    </div>
  </div>
</section>

{% assign contentForLtsVersion = "24.04" %}
<section class="p-strip{% if site.data.ubuntu_releases.latest.lts.version == site.data.ubuntu_releases.latest.release.version %}--light{% endif %}" id="lts">
  <div class="row">
    {% if site.data.ubuntu_releases.latest.lts.version_short == contentForLtsVersion %}
    <div class="col-12">
      <h2>Ubuntu {{ site.data.ubuntu_releases.latest.lts.version_short }} LTS</h2>
    </div>
    {% endif %}
    <div class="col-6">
      {% if site.data.ubuntu_releases.latest.lts.version_short != contentForLtsVersion %}
      <h2>Ubuntu {{ site.data.ubuntu_releases.latest.lts.version_short }} LTS</h2>
      <p>
        Získejte Ubuntu ve verzi s dlouhodobou podporou (LTS) pro dlouhodobá kritická nasazení, kde je preferována stabilita a neměnnost nad novými funkcemi.
      </p>
      {% endif %}
      {% if site.data.ubuntu_releases.latest.lts.version_short == contentForLtsVersion %}
      <p>
        Ve srovnání s předchozí verzí s dlouhodobou podporou (LTS) přináší nové Ubuntu celou řadu vylepšení.
      </p>
      <h3>Co je nového?</h3>
      <p>
        Desktopové prostředí GNOME&nbsp;46, jádro Linux&nbsp;6.8 a nové verze aplikací.
      </p>
      <ul>
        <li>K dispozici je od základů přepracovaný katalog softwaru (napsaný v toolkitu Flutter).</li>
        <li>Do systému se rovněž dostal nástroj pro aktualizaci firmwaru hardwarových komponent počítače.</li>
        <li>Notifikace o dostupnosti aktualizací balíčků snap jsou propracovanější a umožňují danou aktualizaci rovněž přímo z notifikace spustit.</li>
        <li>Součástí systému je i pokročilý správce sítí <a href="https://ubuntu.com/blog/introducing-netplan-v1" target="_blank">Netplan</a> ve verzi 1.0, který je dobře integrovaný se stávajícím správcem sítí NetworkManager.</li>
        <li>Pro náročnější uživatele přibyly nástroje pro správu a optimalizaci výkonu systému.</li>
        <li>Změn se dočkala také podpora čteček otisků prstů, která nyní dokáže pracovat s širší škálou zařízení.</li>
        <li>Režimy napájení byly vylepšeny tak, že podporují nové funkce hardwaru (to platí zejména pro komponenty AMD) a dosahují lepších výsledků výdrže baterie.</li>
        <li>K dispozici je podpora šifrování disků ve spolupráci s hardwarovým čipem TPM (Trusted Platform Module).</li>
        <li>Pokud je zařízení připojeno do sítě Active Directory, Ubuntu nyní podporuje automatickou synchronizaci certifikátů (například pro připojení do sítí WiFi a VPN).</li>
        <li>Instalátor Ubuntu byl od základu přepracován. Pokud je zařízení připojeno k internetu, sám se při startu aktualizuje, aby nabídl nejnovější funkce či opravy chyb. Proces instalace je rovněž přívětivější a snazší. Změn se dočkala i preference typu výchozí instalace Ubuntu, takže je nyní předvolena minimální instalace bez doplňkových aplikací. Dodatečný software je samozřejmě kdykoliv později možné nainstalovat a přebytečný odstranit.</li>
      </ul>
      <p>
        Ucelený přehled změn v angličtině najdete na <a href="https://discourse.ubuntu.com/t/noble-numbat-release-notes/39890" target="_blank">Discourse Ubuntu</a>.
      </p>
      {% endif %}
    </div>
    <div class="col-6">
      {% if site.data.ubuntu_releases.latest.lts.version_short == contentForLtsVersion %}
      <p>Ubuntu slaví 20&nbsp;let a Canonical vydává nejnovější přírůstek ve verzi 24.04&nbsp;Noble&nbsp;Numbat s dlouhodobou podporou. Podívejte se na rychlý průlet historií operačního systému Ubuntu a jeho aktuální prostředí.</p>
      <div class="u-align--center">
        <iframe style="width: 560px; height: 315px; border: 0;" src="https://www.youtube-nocookie.com/embed/q5yM4ZYwB_s" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
          Video je v angličtině, zdroj: <a href="https://www.youtube.com/@UbuntuOS" target="_blank">Canonical Ubuntu</a>
        </p>
        {% else %}
        <img src="{{ 'assets/img/icons/picto-ubuntu.svg' | relative_url }}" alt="Ubuntu icon" style="display: block; margin: 0px auto 20px auto; max-width: 140px;">
        {% endif %}
        <a href="{% link _pages/ziskat-ubuntu/stahnout-desktop/index.html %}#lts" class="p-button--positive">Stáhnout Ubuntu {{ site.data.ubuntu_releases.latest.lts.version_short }} LTS pro počítač</a>
      </div>
    </div>
  </div>
</section>

{% if site.data.ubuntu_releases.latest.lts.version != site.data.ubuntu_releases.latest.release.version %}
{% assign contentForStandardVersion = "24.10" %}
<section class="p-strip--light" id="standard">
  <div class="row">
    {% if site.data.ubuntu_releases.latest.release.version_short == contentForStandardVersion %}
    <div class="col-12">
      <h2>Ubuntu {{ site.data.ubuntu_releases.latest.release.version_short }}</h2>
    </div>
    {% endif %}
    <div class="col-6">
      {% if site.data.ubuntu_releases.latest.release.version_short != contentForStandardVersion %}
      <h2>Ubuntu {{ site.data.ubuntu_releases.latest.release.version_short }}</h2>
      {% endif %}
      <p>
        Nové Ubuntu spadá mezi standardní vydání s kratší podporou. Pokud preferujete cestu častějších aktualizací, menších postupných změn a čerstvých novinek, včetně optimalizace výkonu a nových ovladačů, pak je nová verze určena právě pro vás.
      </p>
      {% if site.data.ubuntu_releases.latest.release.version_short == contentForStandardVersion %}
      <h3>Co je nového?</h3>
      <p>
        Nejnovější vydání Ubuntu s kódovým označením Oracular Oriole přináší aktualizované uživatelské rozhraní GNOME ve verzi 47. Tím došlo k vylepšení například barevných nádechů/témat, či správce souborů, jež touto aktualizací usnadňuje například manipulaci se záložkami. Uživatelské prostředí dále lépe podporuje displeje s nižším rozlišením a rovněž optimalizuje práci s hardwarem.
      </p>
      <p>
        Kromě uživatelského prostředí je k dispozici aktualizované Centrum aplikací nebo analyzátor využití disku. Beze změn nezůstaly ani možnosti nastavení. Jedná se například o nové možnosti zpřístupnění, možnou optimalizaci přenosných zařízení pří využívání baterie či širší nebo šetrnější propojení s online účty.
      </p>
      <p>
        Zcela novou součástí systému je Centrum zabezpečení, které umožňuje nastavení práv aplikací Snap - ne nepodobnou organizaci práv známé například z Androidu. Jedná se o první revizi a do budoucna budou implementovány doplňující bezpečnostní funkce.
      </p>
      <p>
        Pro uživatele s grafickými ovladači NVIDIA je konečně výchozí volbou grafický protokol Walyand, čímž došlo k plošnému nahrazení původního a nyní již zastaralého grafického rozhraní X11.
      </p>
      <p>
        Administrátoři, ale i běžní uživatelé, pak mohou ocenit začleněný správce balíčků Apt ve verzi 3.0. Tato verze doznala poměrně velkých změn v rozhraní nástroje a nepřejde tak bez povšimnutí.
      </p>
      <p>
        A proto, že Canonical slaví s touto verzí Ubuntu {{ site.data.ubuntu_releases.latest.release.version_short }} 20 let od prvního vydání Ubuntu, nachází se v systému i několik připomínek na tento začátek. Součástí jsou například téma připomínající původní vzhled systému, původní přihlašovací melodie či vylepšené původní pozadí plochy. 
      </p>
      <p>
        Samozřejmostí jsou aktualizované verze softwaru, grafických ovladačů (Mesa 24.2) a linuxového jádra, které se v tomto vydání nachází ve verzi 6.11.
      </p>
      {% endif %}
    </div>
    <div class="col-6 u-align--center">
      {% if site.data.ubuntu_releases.latest.release.version_short == contentForStandardVersion %}
      <iframe style="width: 560px; height: 315px; border: 0;" src="https://www.youtube-nocookie.com/embed/mG7428u4bXU" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>
        Zdroj: <a href="https://www.youtube.com/@UbuntuOS" target="_blank">Canonical Ubuntu</a>
      </p>
      {% else %}
      <img src="{{ 'assets/img/icons/picto-ubuntu.svg' | relative_url }}" alt="Ubuntu icon" style="display: block; margin: 0px auto 20px auto; max-width: 140px;">
      {% endif %}
      <a href="{% link _pages/ziskat-ubuntu/stahnout-desktop/index.html %}#standard" class="p-button--positive">Stáhnout Ubuntu {{ site.data.ubuntu_releases.latest.release.version_short }} pro počítač</a>
    </div>
  </div>
</section>
{% endif %}

{% if site.data.ubuntu_releases.latest.lts.version_short == contentForLtsVersion %}
<section class="p-strip--dark">
  <div class="row u-equal-height">
    <h2>Pohled na Ubuntu 24.04 LTS</h2>
    <div class="col-6">
      <a href="{{ 'assets/img/screenshots/ubuntu-24.04/files.png' | relative_url }}" target="_blank">
        <img src="{{ 'assets/img/screenshots/ubuntu-24.04/files.png' | relative_url }}" alt="screehshot">
      </a>
      <p>
        Vzhled systému byl spolu s aktualizacemi prostředí GNOME modernizován. Rovněž ikony některých aplikací doznaly od posledního vydání s dlouhodobou podporou změn.
      </p>
    </div>
    <div class="col-6">
      <a href="{{ 'assets/img/screenshots/ubuntu-24.04/ubuntu-settings.png' | relative_url }}" target="_blank">
        <img src="{{ 'assets/img/screenshots/ubuntu-24.04/ubuntu-settings.png' | relative_url }}" alt="screehshot">
      </a>
      <p>
        Některá specifická nastavení prostředí Ubuntu byla v rámci nastavení přesunuta do samostatné sekce. Kromě toho se v nastavení objevily nové položky pro bližší přizpůsobení potřebám a preferencím uživatele.
      </p>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-6">
      <a href="{{ 'assets/img/screenshots/ubuntu-24.04/appearance.png' | relative_url }}" target="_blank">
        <img src="{{ 'assets/img/screenshots/ubuntu-24.04/appearance.png' | relative_url }}" alt="screehshot">
      </a>
      <p>
        Nastavení vzhledu je nyní díky rozdělení kategorií jednodušší. Zachována byla možnost zvolit si v případě preference tmavý režim či barvu aktivních/kontrastních prvků uživatelského rozhraní.
      </p>
    </div>
    <div class="col-6">
      <a href="{{ 'assets/img/screenshots/ubuntu-24.04/apps.png' | relative_url }}" target="_blank">
        <img src="{{ 'assets/img/screenshots/ubuntu-24.04/apps.png' | relative_url }}" alt="screehshot">
      </a>
      <p>
        Novou instalaci je možné provést kompletní, či redukovanou. V té je k dispozici jen webový prohlížeč a základní nástroje. Kancelářské aplikace, jako je LibreOffice, e-mailový klient Thunderbird či přehrávač hudby Rhythmbox budou nainstalovány pouze při volbě plné instalace. Samozřejmostí je možnost později jakýkoliv software doplnit či odstranit.
      </p>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-6">
      <a href="{{ 'assets/img/screenshots/ubuntu-24.04/startup.gif' | relative_url }}" target="_blank">
        <img src="{{ 'assets/img/screenshots/ubuntu-24.04/startup.gif' | relative_url }}" alt="screehshot">
      </a>
      <p>
        Nové logo je nyní využíváno již napříč webovými stránkami Ubuntu, ale také systémem. Setkáte se s ním na startovací i přihlašovací obrazovce či v panelu dok, kde plní roli tlačítka menu.
      </p>
    </div>
    <div class="col-6">
      <a href="{{ 'assets/img/screenshots/ubuntu-24.04/software.png' | relative_url }}" target="_blank">
        <img src="{{ 'assets/img/screenshots/ubuntu-24.04/software.png' | relative_url }}" alt="screehshot">
      </a>
      <p>
        Katalog aplikací Ubuntu Software byl od základu přepsán tak, aby byla práce s ním rychlejší a pohodlnější.
      </p>
    </div>
  </div>
</section>
{% endif %}

<section class="p-strip--light">
  <div class="row u-align--center">
    <div class="col-12">
      <h2>Celý svět aplikací</h2>
      <div>
        Ubuntu nabízí tisíce aplikací ke stažení. Většina je k dispozici zdarma a pro jejich instalaci stačí jen pár kliknutí.
      </div>
    </div>
    <div class="col-12 p-logo-section">
      <h3>Internet a komunikace</h3>
      <ul class="p-logo-section__items">
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://snapcraft.io/firefox" target="_blank">
            <img src="{{ 'assets/img/icons/firefox.svg' | relative_url }}" alt="Mozilla Firefox" title="Mozilla Firefox">
            <br>
            Firefox
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://www.google.com/chrome/" target="_blank">
            <img src="{{ 'assets/img/icons/chrome.svg' | relative_url }}" alt="Google Chrome" title="Google Chrome">
            <br>
            Chrome
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://snapcraft.io/opera" target="_blank">
            <img src="{{ 'assets/img/icons/opera.png' | relative_url }}" alt="Opera" title="Opera">
            <br>
            Opera
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://snapcraft.io/thunderbird" target="_blank">
            <img src="{{ 'assets/img/icons/thunderbird.svg' | relative_url }}" alt="Thunderbird" title="Thunderbird">
            <br>
            Thunderbird
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://snapcraft.io/skype" target="_blank">
            <img src="{{ 'assets/img/icons/skype.png' | relative_url }}" alt="Skype" title="Skype">
            <br>
            Skype
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://snapcraft.io/slack" target="_blank">
            <img src="{{ 'assets/img/icons/slack.png' | relative_url }}" alt="Slack" title="Slack">
            <br>
            Slack
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://snapcraft.io/telegram-desktop" target="_blank">
            <img src="{{ 'assets/img/icons/telegram.png' | relative_url }}" alt="Telegram" title="Telegram">
            <br>
            Telegram
          </a>
        </li>
      </ul>
    </div>
    <div class="col-12 p-logo-section">
      <h3>Zábava</h3>
      <ul class="p-logo-section__items">
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://store.steampowered.com/about/" target="_blank">
            <img src="{{ 'assets/img/icons/steam.svg' | relative_url }}" alt="Steam" title="Steam">
            <br>
            Steam
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://snapcraft.io/vlc" target="_blank">
            <img src="{{ 'assets/img/icons/vlc.svg' | relative_url }}" alt="VLC media player" title="VLC media player">
            <br>
            VLC
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://snapcraft.io/spotify" target="_blank">
            <img src="{{ 'assets/img/icons/spotify.png' | relative_url }}" alt="Spotify" title="Spotify">
            Spotify
            <br>
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://www.netflix.com/cz/" target="_blank">
            <img src="{{ 'assets/img/icons/netflix.png' | relative_url }}" alt="Netflix" title="Netflix">
            <br>
            Netflix
          </a>
        </li>
      </ul>
    </div>
    <div class="col-12 p-logo-section">
      <h3>Produktivita</h3>
      <ul class="p-logo-section__items">
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://snapcraft.io/gimp" target="_blank">
            <img src="{{ 'assets/img/icons/gimp.svg' | relative_url }}" alt="Gimp" title="Gimp">
            <br>
            Gimp
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://snapcraft.io/inkscape" target="_blank">
            <img src="{{ 'assets/img/icons/inkscape.svg' | relative_url }}" alt="Inkscape" title="Inkscape">
            <br>
            Inkscape
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://snapcraft.io/blender" target="_blank">
            <img src="{{ 'assets/img/icons/blender.svg' | relative_url }}" alt="Blender" title="Blender">
            <br>
            Blender
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://snapcraft.io/android-studio" target="_blank">
            <img src="{{ 'assets/img/icons/android-studio.png' | relative_url }}" alt="Android Studio" title="Android Studio">
            <br>
            Android Studio
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://snapcraft.io/code" target="_blank">
            <img src="{{ 'assets/img/icons/vscode.svg' | relative_url }}" alt="Visual Studio Code" title="Visual Studio Code">
            <br>
            VS Code
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://snapcraft.io/sublime-text" target="_blank">
            <img src="{{ 'assets/img/icons/sublime-text.png' | relative_url }}" alt="Sublime Text" title="Sublime Text">
            <br>
            Sublime
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a class="p-logo-section__logo" href="https://snapcraft.io/intellij-idea-community" target="_blank">
            <img src="{{ 'assets/img/icons/idea-community.png' | relative_url }}" alt="IntelliJ IDEA Community" title="IntelliJ IDEA Community">
            <br>
            IntelliJ IDEA
          </a>
        </li>
      </ul>
      <ul class="p-logo-section__items">
        <li class="p-logo-section__item">
          <a class="p-logo-section__logo" href="https://snapcraft.io/libreoffice" target="_blank">
            <img src="{{ 'assets/img/icons/libreoffice.png' | relative_url }}" alt="LibreOffice" title="LibreOffice">
          </a>
        </li>
      </ul>
    </div>
    <div class="col-12 u-align--center">
      <a href="https://snapcraft.io/store" class="p-button" target="_blank">Další aplikace naleznete v katalogu s balíčky snap</a>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-4">
      <h3>Co je to operační systém?</h3>
      <p>
        Operační systém je to, co umožňuje vašemu počítači fungovat. Jde o základní "program" (balík sestávající z obrovského množství programů) každého počítače, navržený tak, aby umožňoval běh všech vašich aplikací a aby spravoval veškerý váš hardware.
      </p>
      <p>
        Další příklady operačních systémů jsou: Microsoft Windows, macOS či Android.
      </p>
    </div>
    <div class="col-4">
      <h3>Čím se liší od mého?</h3>
      <p>
        S Ubuntu můžete dělat totéž, co s jinými operačními systémy. Ale mnohem rychleji, bezpečněji a zdarma!
      </p>
      <p>
        Systém Ubuntu je k dispozici v mnoha různých jazycích a nechybí mezi nimi ani čeština.
      </p>
    </div>
    <div class="col-4">
      <h3>Jak může být zdarma?</h3>
      <p>
        Ubuntu je a vždy bude zcela zdarma. Je tvořeno nejlepšími open source experty z celého světa, přičemž velká část z nich se touto činností živí. Peníze na vývoj jsou financovány především z podpory komerční sféry. Získejte Ubuntu ještě dnes a užívejte si svobodu, kterou vám při práci poskytuje.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Pro vás</h3>
      <p>
        Užívejte si jednoduchost designu Ubuntu a intuitivního prostředí. Ubuntu je rychlé, bezpečné a podporují ho tisíce aplikací. Ubuntu je čistý a přímý nástroj, který usnadní jakoukoliv vaši práci. Nenechejte se rušit a pracujte s počítačem skrze příjemný interface.
      </p>
    </div>
    <div class="col-4">
      <h3>Pro firmu</h3>
      <p>
        Ubuntu je perfektní pro použití v komerčním prostředí. Je bezpečné, intuitivní a nenáročné. Používejte běžný software v Ubuntu, aniž byste platili jedinou korunu za licence, které nepotřebujete. Se vzdálenou správou mohou navíc vaši IT zaměstnanci dělat mnohem více.
      </p>
    </div>
    <div class="col-4">
      <h3>Pro vývojáře</h3>
      <p>
        Ubuntu poskytuje největší výběr vývojářských nástrojů a umožňuje rychlou práci s Cloudem. Profesionální podpora je dostupná přímo od Canonicalu a položení dotazu obrovské vývojářské komunitě je vždy snadné.
      </p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-4">
      <h3>Ubuntu je open source</h3>
      <p>
        Naši komunitu tvoří tisíce lidí po celém světě, kteří chtějí pomoci vytvořit nejlepší operační systém na světě. Sdílejí čas a zkušenosti aby se ujistili, že se Ubuntu stane něčím, co bude vyhovovat každému a o co bude zájem. Ubuntu není jediným úspěšným open source projektem - jako příklad lze uvést následující oblíbené projekty: Google Android, Firefox či Wikipedia. Společná snaha, společný princip a přesto zdarma.
      </p>
    </div>
    <div class="col-4">
      <h3>Ubuntu a Linux</h3>
      <p>
        Ubuntu staví na osvědčeném jádře Linux, které patří mezi nejrychleji se vyvíjející softwarové projekty vůbec. Linuxový základ posiluje stabilitu systému a umožňuje běh s většinou současného i staršího hardwaru. Díky praktikám dodržovaným v Linuxovém ekosystému je Ubuntu také velmi robustní a odolné vůči virům a přímým útokům z vnějšího prostředí.
      </p>
    </div>
    <div class="col-4">
      <h3>Staňte se dalším spokojeným uživatelem Ubuntu</h3>
      <ul class="p-list">
        <li class="p-list__item">Ubuntu používá přes 50 milionů uživatelů po celém světě.</li>
        <li class="p-list__item">Více než 1,3 milionu webových serverů běží na Ubuntu.</li>
        <li class="p-list__item">Každý měsíc je aktivováno přes 22 000 nových webových stránek, které běží na Ubuntu.</li>
      </ul>
    </div>
  </div>
</section>

<section class="p-strip--accent is-bordered" style="background-color: #335280;">
  <div class="row">
    <div class="col-12">
      <h2>Podpora</h2>
      <p>
        Jednotlivá vydání Ubuntu prochází poměrně krátkým vývojovým cyklem. Každých 6 měsíců je na řadě jedna verze, vždy v dubnu a v říjnu. Jejich označení je potom odvozeno od data vydání, takže například dubnové vydání roku 2022 nese číselné označení 22.04.
      </p>
      <h3>Verze LTS</h3>
      <p>
        Jednou za dva roky (duben 2020, duben 2022, duben 2024) vychází verze Ubuntu s dlouhodobou podporou. Ta má praktický význam především pro servery a desktopové stanice firem, ale může být stejně tak používána i domácími uživateli, kteří dají na stabilitu před častějšími novými funkcemi. Verze LTS jsou většinou konzervativnější v aplikaci novinek oproti klasickým vydáním.
      </p>
      <h3>Vývoj</h3>
      <p>
        Vývojový cyklus každého vydání Ubuntu trvá přibližně 6 měsíců, od doby, kdy byla uvolněna poslední stabilní verze systému až po nové vydání. Během této doby je aktualizována softwarová základna, jsou přidávány nové funkce a zvláště ke konci období jsou záplatovány chyby, které mohly snadno vzniknout na počátku období. Krátce před zveřejněním nového systému běží také testování, aby byl zajištěn co nejhladší chod na počítačích uživatelů.
      </p>
    </div>
  </div>
</section>
