---
title: Vlastnosti
description: Zjistěte všechno o schopnostech a funkcích Ubuntu pro osobní počítače a jeho výchozích aplikacích.
permalink: /desktop/vlastnosti/
redirect_from:
  - /aplikace-a-hry
  - /desktop-features
  - /desktop/features
  - /cojeubuntu/desktop
  - /cojeubuntu/predstaveni
  - /produkty/cojeubuntu/desktop
  - /tour
  - /tour/
  - /sites/www.ubuntu.cz/tour
  - /tour/cs
  - /sites/www.ubuntu.cz/tour/cs
layout: default
---
<section class="p-strip--image is-light" style="background-image: url('{{ 'assets/img/ubuntu-features-hero.jpg' | relative_url }}'); background-size: cover; background-position: top 15% center;">
  <div class="row">
    <div class="col-6 p-card--overlay">
      <h1>Vlastnosti Ubuntu</h1>
      <p class="p-card__content">
        Ubuntu nabízí uživatelsky velmi přívětivou základnu pro jakoukoliv vaši práci. Má širokou podporu vývojářů nejrůznějšího softwaru. Naleznete v něm předinstalovaný kancelářský balík, grafické i multimediální nástroje a nainstalovat můžete velké množství her nebo nástrojů pro pokročilé uživatele.
      </p>
      <p class="p-card__content">
        <a href="{% link _pages/ziskat-ubuntu/stahnout-desktop/index.html %}" class="p-button--positive">Stáhnout Ubuntu</a>
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-6">
      <h2>Kancelářský software</h2>
      <p>
        Typickým zástupcem v této kategorii, který se nachází také ve výchozích instalacích Ubuntu, je nástroj <strong>LibreOffice</strong>, kompatibilní s dokumenty Microsoft Office. Můžete tak vytvářet a otevírat dokumenty Microsoft Word, Excel či PowerPoint a dále je sdílet s ostatními. Kromě toho existují i další alternativní kancelářské balíky, jako jsou například WPS Office nebo OnlyOffice. Dále je možné využívat i nespočet online nástrojů, včetně oblíbených Google Dokumentů.
      </p>
    </div>
    <div class="col-6">
      <img src="{{ 'assets/img/screenshots/libreoffice.png' | relative_url }}" alt="screehshot" >
    </div>
  </div>
</section>

<section class="p-strip--image is-shallow is-dark" style="background-image: url('{{ 'assets/img/work-hero.jpg' | relative_url }}'); background-size: cover; background-position: center center;">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-6">
      <img src="{{ 'assets/img/screenshots/firefox.png' | relative_url }}" alt="screehshot">
    </div>
    <div class="col-6 p-card--overlay">
      <h2>Prohlížení webu</h2>
      <p class="p-card__content">
        Známí svou rychlostí a bezpečností dělají Ubuntu a <strong>Firefox</strong> procházení a práci na internetu opět příjemným zážitkem. Kromě Firefoxu je na Ubuntu možné nainstalovat celou řadu dalších prohlížečů, mezi něž patří například Google Chrome (popř. Chromium) nebo Opera.
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-6">
      <h2>Emaily</h2>
      <p>
        Ubuntu obsahuje předinstalovaný emailový klient <strong>Thunderbird</strong>, oblíbenou aplikaci od nadace Mozilly, který zpřístupní vaše emaily přímo ve vašem počítači a to i když nejste zrovna online. Podporuje mnoho protokolů: Microsoft Exchange, Gmail, Hotmail, POP či IMAP, takže se s ním připojíte opravdu kamkoliv. Kromě Thunderbirdu naleznete i další zástupce emailových klientů přímo v obchodě Ubuntu, popřípadě můžete využívat webové rozhraní jak jste zvyklí odjinud.
      </p>
    </div>
    <div class="col-6">
      <img src="{{ 'assets/img/screenshots/thunderbird.png' | relative_url }}" alt="screehshot">
    </div>
  </div>
</section>

<section class="p-strip--image is-shallow is-light" style="background-image: url('{{ 'assets/img/mountains-hero.jpg' | relative_url }}'); background-size: cover; background-position: center center;">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-6 p-logo-section">
      <ul class="p-logo-section__items">
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a href="https://snapcraft.io/gimp" target="_blank">
            <img class="p-logo-section__logo" src="{{ 'assets/img/icons/gimp.svg' | relative_url }}" alt="Gimp" title="Gimp">
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a href="https://snapcraft.io/inkscape" target="_blank">
            <img class="p-logo-section__logo" src="{{ 'assets/img/icons/inkscape.svg' | relative_url }}" alt="Inkscape" title="Inkscape">
          </a>
        </li>
        <li class="p-logo-section__item" style="width: 5.25em;">
          <a href="https://snapcraft.io/blender" target="_blank">
            <img class="p-logo-section__logo" src="{{ 'assets/img/icons/blender.svg' | relative_url }}" alt="Blender" title="Blender">
          </a>
        </li>
      </ul>
    </div>
    <div class="col-6 p-card--overlay">
      <h2>Fotografie</h2>
      <p class="p-card__content">
        S předinstalovanou aplikací <strong>Shotwell</strong> můžete rychle a jednoduše importovat, organizovat, upravovat i sdílet, nebo jen prohlížet všechny své fotografie. S aplikacemi jako Gimp nebo Inkscape zase vytváříte profesionální návrhy a ilustrace. A díky skvělé podpoře kamer a mobilních telefonů nebudete potřebovat žádné dodatečné ovadače.
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-6">
      <h2>Videa</h2>
      <p>
        Na Ubuntu můžete sledovat veškerý svůj oblíbený obsah s aplikacemi pro přehrávání, správu a sdílení videí. Upravujte videa například s nástrojem PiTiVi, který se velice snadno ovládá, a potom si je přehrajte v předinstalovaném přehrávači videí. Nestačí-li vám schopnosti vestavěného přehrávače, nainstalujte si například VLC. V obchodě Ubuntu si můžete vybrat z mnoha dalších přehrávačů a editorů videa.
      </p>
    </div>
    <div class="col-6">
      <img src="{{ 'assets/img/screenshots/totem.png' | relative_url }}" alt="screehshot">
    </div>
  </div>
</section>

<section class="p-strip--image is-shallow is-dark" style="background-image: url('{{ 'assets/img/gaming-hero.jpg' | relative_url }}'); background-size: cover; background-position: center center;">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-6 u-hide--small">
      <img src="{{ 'assets/img/steam-deck.png' | relative_url }}" alt="Steam Deck wireframe by Valve: https://gitlab.steamos.cloud/SteamDeck/hardware">
    </div>
    <div class="col-6 col-start-large-7 p-card--overlay">
      <h2>Hraní her</h2>
      <p class="p-card__content">
        S rostoucím množstvím hráčů využívajících Linux a intenzivní podpoře ze strany Valve, jež nejen že podporuje Linux se svou platformou Steam, ale rovněž vyvíjí vlastní herní konzoli s tímto operačním systémem, je pro Ubuntu k dispozici rostoucí množství nativních her. Případně je možné mnohé tituly, které nebyly s nativní podporou vyvinuty, jednoduše spustit skrze Steam Proton, nebo mimo tento herní katalog skrze Wine.
      </p>
    </div>
  </div>
</section>

<section class="p-strip--light u-align--center">
  <div class="row">
    <div class="col-12">
      <h2>Herní katalogy s podporou Ubuntu</h2>
    </div>
    <div class="col-4">
      <a href="https://store.steampowered.com/" target="_blank">
        <h3><img src="{{ 'assets/img/icons/steam.svg' | relative_url }}" alt="Steam" class="store-icon"></h3>
        <p>Prohlédnout obchod Steam</p>
      </a>
    </div>
    <div class="col-4">
      <a href="https://www.gog.com/" target="_blank">
        <h3><img src="{{ 'assets/img/icons/gog.svg' | relative_url }}" alt="GOG.com" class="store-icon"></h3>
        <p>Prohlédnout obchod GOG</p>
      </a>
    </div>
    <div class="col-4">
      <a href="https://itch.io/" target="_blank">
        <h3><img src="{{ 'assets/img/icons/itch.io.svg' | relative_url }}" alt="itch.io" class="store-icon"></h3>
        <p>Prohlédnout obchod itch.io</p>
      </a>
    </div>
    <div class="col-12">
      <div>Výše uvedené jsou jen některé z dostupných možností. K dispozici jsou i další herní katalogy, jež nabízí hry s podporou Linuxu.</div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2>Podpora her</h2>
    </div>
    <div class="col-6">
      <p>
        Na Ubuntu naleznete celou škálu her od klasických hlavolamů po střílečky, strategie a simulátory, které vás zabaví na dlouhé hodiny. Ubuntu podporují tisíce her včetně titulů z platforem GOG a Steam. Vybírejte si z velmi známých a dobře hodnocených titulů jako jsou Dota 2, Civilization VI, Counter-Strike: Global Offensive, Borderlands: The Pre-Sequel, Cities: Skylines, DiRT Rally a další.
      </p>
      <p>
        <em>
          Pro maximální výkon nezapomeňte nainstalovat a pravidelně aktualizovat ovladač grafické karty. Dostupnost dodatečných ovladačů pro vaši konkrétní počítačovou sestavu vám umožní ověřit nástroj "Software &amp; Aktualizace", který naleznete v hlavním menu aplikací.
        </em>
      </p>
    </div>
    <div class="col-6">
      <img src="{{ 'assets/img/screenshots/additional-drivers.png' | relative_url }}" alt="screenshot">
    </div>
  </div>
</section>

<section class="p-strip u-no-padding--top">
  <div class="row u-align--top">
    <div class="col-6">
      <p>
        Kromě obchodů s hrami je možné nalézt také celou řadu svobodných či bezplatných her přímo v katalogu Ubuntu. Menší část softwaru a her z celé dostupné nabídky si můžete rovněž prohlédnout online v katalogu snap.
      </p>
    </div>
    <div class="col-6">
      <a href="https://snapcraft.io/store" target="_blank">
        <h3><img src="{{ 'assets/img/icons/snapcraft.svg' | relative_url }}" alt="Katalog balíčků snap" class="store-icon"></h3>
        <p>Katalog linuxových aplikací snap</p>
      </a>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-6">
      <h3>Otevřený operační systém</h3>
      <p>
        Zdrojový kód Ubuntu je sdílen veřejně během celého vývojového cyklu. Jsme transparentní s našimi plány pro nadcházející vydání, takže jako vývojář, prodejce nebo výrobce vždy víte co očekávat a můžete s námi pracovat na budování celého ekosystému.
      </p>
    </div>
    <div class="col-6">
      <h3>Podporováno společností Canonical</h3>
      <p>
        Canonical je mezinárodní dodavatel softwaru, který poskytuje komerční, designovou a technickou podporu pro projekt Ubuntu. Náš tým pro podporu hardwaru se stará o zařízení prodávána přímo s předinstalovaným Ubuntu, která dnes tvoří více než 10% všech prodávaných počítačů.
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-4">
      <h3>Začněte ještě dnes</h3>
      <p>
        Stáhněte si Ubuntu pro svůj osobní počítač a začněte ho používat ještě dnes, ať již chcete nahradit svůj stávající operační systém nebo provozovat Ubuntu vedle něj.
      </p>
      <p>
        <a href="{% link _pages/ziskat-ubuntu/stahnout-desktop/index.html %}" class="p-button--positive">Získat Ubuntu</a>
      </p>
    </div>
    <div class="col-4">
      <h3>Profesionální podpora</h3>
      <p>
        Získejte profesionální podporu od Canonicalu. Ta vám zajistí plynulý provoz vašich zařízení s Ubuntu - ať již se jedná o počítač, server či cloud.
      </p>
      <p>
        <a href="https://www.ubuntu.com/support" target="_blank">Kupte si Ubuntu Advantage</a>
      </p>
    </div>
    <div class="col-4">
      <h3>Odnože Ubuntu</h3>
      <p>
        Odnože Ubuntu poskytují unikátní způsob, jak poznat Ubuntu. S různým výběrem předinstalovaných aplikací, prostředí a odlišným nastavením, přitom s přístupem ke všem aplikacím a aktualizacím dostupným přímo pro Ubuntu.
      </p>
      <p>
        <a href="{% link _pages/desktop/odnoze-ubuntu.html %}">Prohlédněte si možné variace Ubuntu</a>
      </p>
    </div>
  </div>
</section>
