<!DOCTYPE html>

<html lang="{{ site.lang }}">
<head>
  {% include head.html %}
</head>

<body>
	<header>
		<div class="wrapper">
			<a href="{{ site.baseurl }}/" class="title">Ubuntu</a>

			<nav>
				{% include menu.html items=site.data.menu.pages %}
			</nav>

			<div class="menuHide" onclick="toggleClassName(this.parentNode.parentNode, 'show');">
				<span></span><span></span><span></span><span></span>
			</div>
		</div>
	</header>

	{% include submenu.html %}

	<main>
		<div id="pager"></div>

		{{ content }}
	</main>

	<footer>
		<div class="section">
			<div class="wrapper">
				<nav>
					{% include footermenu.html items=site.data.menu.pages hide_without_sub=true %}
				</nav>
			</div>
		</div>
		<div class="section white">
			<div class="wrapper">
				<nav>
					<ul class="custom">
						<li><span>Externí odkazy:</span></li>
						<li><a href="https://www.ubuntu.com">Oficiální stránky projektu Ubuntu</a>
							<ul>
								<li><a href="https://tutorials.ubuntu.com/">Tutoriály pro vývojáře</a></li>
								<li><a href="https://help.ubuntu.com">Dokumentace</a></li>
								<li><a href="https://askubuntu.com">Ask Ubuntu</a></li>
							</ul>
						</li>
            <li><a href="https://status.ubuntu.cz/">Dostupnost Ubuntu.cz</a></li>
						<li class="social"><span>Sledujte Ubuntu na sociálních sítích</span>
							<ul>
								<li class="mastodon"><a rel="me" href="https://floss.social/@UbuntuCZ" title="Mastodon">
                  <i class="fa fab fa-mastodon" aria-hidden="true"></i>
                </a></li>
                <li class="telegram"><a href="https://t.me/UbuntuCZ" title="Telegram">
                  <i class="fa fab fa-telegram-plane" aria-hidden="true"></i>
                </a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="section white">
			<p>2012 - {{ site.time | date: '%Y' }} ubuntu.cz, &copy; Canonical Ltd. Ubuntu a Canonical jsou registrovanými známkami společnosti Canonical Ltd.</p>
		</div>
	</footer>

	<link rel="stylesheet" href="{{ 'design/core-elements.css' | relative_url }}">
	<script>
		"use strict";
		function toggleClassName(element, className) {
			if(element.className === className) {
				element.className = "";
			}
			else {
				element.className = className;
			}
		}
	</script>

	<script src="{{ 'design/header.js' | relative_url }}"></script>
	<script>
		new Header();
	</script>

	<script src="{{ 'design/breadcrumbs.js' | relative_url }}"></script>
	<script>
		new Breadcrumbs();
	</script>

	<script src="{{ 'design/pagerES6.js' | relative_url }}"></script>
	<script>
		new Pager({
			container: document.getElementById("pager"),
			sections: document.querySelectorAll("section.anchor")
		}).generatePager();
	</script>

  <script src="{{ 'google-analytics.js' | relative_url }}"></script>
</body>

</html>
