<!DOCTYPE html>

<html lang="{{ site.lang }}">
<head>
  {% include head.html %}
</head>

<body>
	<header>
		<div class="wrapper">
			<a href="{{ site.baseurl }}/" class="title">Ubuntu</a>

			<nav>
				{% include menu.html items=site.data.menu.pages %}
			</nav>

			<div class="menuHide" onclick="toggleClassName(this.parentNode.parentNode, 'show');">
				<span></span><span></span><span></span><span></span>
			</div>
		</div>
	</header>

	{% include submenu.html %}

	<main>
		<div id="pager"></div>

		{{ content }}
	</main>

	<footer>
		<div class="section">
			<div class="wrapper">
				<nav>
					{% include footermenu.html items=site.data.menu.pages hide_without_sub=true %}
				</nav>
			</div>
		</div>
		<div class="section white">
			<div class="wrapper">
				<nav>
					<ul class="custom">
						<li><span>Externí odkazy:</span></li>
						<li><a href="https://www.ubuntu.com">Oficiální stránky projektu Ubuntu</a>
							<ul>
								<li><a href="https://tutorials.ubuntu.com/">Tutoriály pro vývojáře</a></li>
								<li><a href="https://help.ubuntu.com">Dokumentace</a></li>
								<li><a href="https://askubuntu.com">Ask Ubuntu</a></li>
							</ul>
						</li>
						<li></li>
						<li class="social"><span>Sledujte Ubuntu na sociálních sítích</span>
							<ul>
								<li class="twitter"><a href="https://twitter.com/UbuntuCZ" title="Twitter"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"><defs></defs><path d="M1684 408q-67 98-162 167 1 14 1 42 0 130-38 259.5t-115.5 248.5-184.5 210.5-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5t-114-159.5q33 5 61 5 43 0 85-11-112-23-185.5-111.5t-73.5-205.5v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5t371.5 99.5q-8-38-8-74 0-134 94.5-228.5t228.5-94.5q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z"/></svg></a></li>
                <li class="telegram"><a href="https://t.me/UbuntuCZ" title="Telegram"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792"><defs></defs><path d="M1764 11q33 24 27 64l-256 1536q-5 29-32 45-14 8-31 8-11 0-24-5l-453-185-242 295q-18 23-49 23-13 0-22-4-19-7-30.5-23.5t-11.5-36.5v-349l864-1059-1069 925-395-162q-37-14-40-55-2-40 32-59l1664-960q15-9 32-9 20 0 36 11z"/></svg></a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="section white">
			<p>2012 - {{ site.time | date: '%Y' }} ubuntu.cz, &copy; Canonical Ltd. Ubuntu a Canonical jsou registrovanými známkami společnosti Canonical Ltd.</p>
		</div>
	</footer>

	<link rel="stylesheet" href="{{ 'design/core-elements.css' | relative_url }}">
	<script>
		"use strict";
		function toggleClassName(element, className) {
			if(element.className === className) {
				element.className = "";
			}
			else {
				element.className = className;
			}
		}
	</script>

	<script src="{{ 'design/header.js' | relative_url }}"></script>
	<script>
		new Header();
	</script>

	<script src="{{ 'design/breadcrumbs.js' | relative_url }}"></script>
	<script>
		new Breadcrumbs();
	</script>

	<script src="{{ 'design/pagerES6.js' | relative_url }}"></script>
	<script>
		new Pager({
			container: document.getElementById("pager"),
			sections: document.querySelectorAll("section.anchor")
		}).generatePager();
	</script>
</body>

</html>
